<ion-list no-lines>
    <button ion-item icon-left (click)="gotoMyAccount()">
        <ion-icon name="contact"></ion-icon>
        My Account
    </button>
    <button ion-item icon-left (click)="gotoPass()">
            <ion-icon name="key"></ion-icon>
        Change Password
    </button>
    <button ion-item icon-left (click)="gotoOrders()">
            <ion-icon name="analytics"></ion-icon>
        My Orders
    </button>
    <button  ion-item icon-left (click)="logout()">
            <ion-icon name="exit"></ion-icon>
        Logout
    </button>
</ion-list>
