<ion-list no-lines>
    <button ion-item icon-left (click)="gotomyaccount()">
        <ion-icon name="contact"></ion-icon>
        My Account
    </button>
    <button ion-item icon-left (click)="gotopass()">
            <ion-icon name="key"></ion-icon>
        Change Password
    </button>
    <button ion-item icon-left (click)="gotoorders()">
            <ion-icon name="analytics"></ion-icon>
        My Orders
    </button>
    <button ion-item icon-left (click)="logout()">
            <ion-icon name="exit"></ion-icon>
        Logout
    </button>
</ion-list>
