<ion-list no-lines>
    <ion-item color='light' (tap)="openMenu=!openMenu" *ngIf="usermenu">
        Account <ion-icon color="primary" id="iconShow"  [name]="(openMenu)?'ios-remove-circle-outline' : 'ios-add-circle-outline'"  ></ion-icon>
    </ion-item>
    <span *ngIf="openMenu">
        <button ion-item icon-left (tap)="gotoMyAccount()">
                <i class="fa fa-address-book-o fa-lg" aria-hidden="true"></i>
            My Address
        </button>
        <button ion-item icon-left (tap)="gotoEditAccount()">
                <i class="fa fa-info fa-lg pad5" aria-hidden="true"></i>
            Account Information
        </button>
        <button ion-item icon-left (tap)="gotoPass()" *ngIf="usermenu">
                <i class="fa fa-key fa-lg" aria-hidden="true"></i>
            Change Password
        </button>
        <button ion-item icon-left (tap)="gotoOrders()" *ngIf="usermenu">
                <i class="fa fa-line-chart fa-lg" aria-hidden="true"></i>
            My Orders
        </button>
        <button ion-item icon-left (tap)="gotoMyReview()" *ngIf="usermenu">
                <i class="fa fa-book pad5" aria-hidden="true"></i>
            My Product Reviews
        </button>
        <button ion-item icon-left (tap)="gotoDownloadable()" *ngIf="usermenu">
                <i class="fa fa-download pad5" aria-hidden="true"></i>
            My Downloadable Products
        </button>
    </span>
    <button  ion-item icon-left (tap)="gotoPolicy()" >
             <i class="fa fa-file-text-o fa-lg" aria-hidden="true"></i>
        Privacy Policy
    </button>
    <button  ion-item icon-left (tap)="gotoAboutUs()">
             <i class="fa fa-info fa-lg pad5" aria-hidden="true"></i>
        About Us
    </button>
    <button  ion-item icon-left (tap)="gotoContactUs()">
             <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
        Contact Us
    </button>
    <button  ion-item icon-left (tap)="logout()" *ngIf="usermenu">
             <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
        Logout
    </button>
</ion-list>
