<header [title]="'My Orders'" [wishList]=false></header>
<ion-content class="orderlist" scroll="true">
    <ion-spinner class="apiSpinner" *ngIf="spin && !error"></ion-spinner>
    <p class="error" *ngIf="error" style="color:#f00; text-align: center;">Check Network Connection</p>
    <h2 class="center" *ngIf="no_orders">{{orders_error}}</h2>
    <ion-list no-lines *ngFor="let dataItem of values">
              <ion-list-header no-margin >{{dataItem.key| date: 'dd/MM/yyyy'}}</ion-list-header>
        <ion-item class="orders">
            <section id="cd-timeline" class="cd-container"  *ngFor="let data of dataItem.value">
                     <div class="cd-timeline-block">
                 <div class="cd-timeline-icon">
                   <ion-icon color="primary" name="clock" *ngIf="data.status=='processing'"></ion-icon>
                        <ion-icon color="danger" name="close-circle" *ngIf="data.status=='holded'"></ion-icon>
                        <ion-icon color="alert_yellow" name="alert" *ngIf="data.status=='pending'" ></ion-icon>
                         <ion-icon color="alert_success" name="done-all" *ngIf="data.status=='complete'" ></ion-icon>
                        
                    </div>
                    <div (click)="gotoOrderDetail(data.orderId)">
                        <span class="order_key">#{{data.orderId}}</span>
                        <span class="date_creation">{{data.created_at | date: 'hh:mm'}}</span>
                        <div class="cd-timeline-content">
                             <h2>Oder No: {{data.order_no}}</h2>
                            <h2>Amount: {{data.currency_symbol}}{{data.grand_total |number }}</h2>
                            <h2 text-capitalize>Status: {{data.status}}</h2>
                            <hr>
                        </div>
                    </div>
                </div>
            </section>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
