<header [title]="'My Orders'"></header>
<ion-content class="orderlist" scroll="true">
    <ion-spinner class="apiSpinner" *ngIf="spin && !error"></ion-spinner>
    <p class="error" *ngIf="error" style="color:#f00; text-align: center;">Check Network Connection</p>
    <h2 class="center" *ngIf="no_orders">{{orders_error}}</h2>
    <ion-list no-lines *ngFor="let date of dates">
              <ion-list-header>{{date| date: 'dd/MM/yyyy'}}</ion-list-header>
        <ion-item class="orders">
            <section id="cd-timeline" class="cd-container"  *ngFor="let data of values">
                     <div class="cd-timeline-block" *ngIf="(date| date: 'dd/MM/yyyy')==(data.value.created_at| date: 'dd/MM/yyyy')">
                 <div class="cd-timeline-icon">
                   <ion-icon color="primary" name="clock" *ngIf="data.value.status=='processing'"></ion-icon>
                        <ion-icon color="danger" name="close-circle" *ngIf="data.value.status=='holded'"></ion-icon>
                        <ion-icon color="warning" name="alert" *ngIf="data.value.status=='pending'" ></ion-icon>
                    </div>
                    <div (click)="gotoOrderDetail(data.value.order_id)">
                        <span class="order_key">#{{data.value.order_id}}</span>
                        <span class="date_creation">{{data.value.created_at | date: 'hh:mm'}}</span>
                        <div class="cd-timeline-content">
                            <h2>Amount: &#8377;{{data.value.grand_total}}</h2>
                            <h2 text-capitalize>Status: {{data.value.status}}</h2>
                            <hr>
                        </div>
                    </div>
                </div>
            </section>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
