<ion-header >

    <ion-navbar color="primary">
        <ion-title text-center>Order List</ion-title>
        <ion-buttons end>
            <button  ion-button icon-only (click)="presentPopover($event)">
                     <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>



</ion-header>
<ion-content class="orderlist" scroll="true">
    <ion-list no-lines class="avt">
        <ion-item>
           <ion-avatar item-left>
                <img src="../../assets/image/grey.jpg">
            </ion-avatar>
            <h1 text-capitalize>{{firstname + " " + lastname}}</h1>
        </ion-item>
    </ion-list>
    <ion-spinner *ngIf="spin"></ion-spinner>
    <ion-grid class="seg">
        <ion-row  *ngIf="ttl_show">
            <ion-col id="total_orders">TOTAL ORDERS <h6>{{totalOrders}}</h6></ion-col>
            <ion-col>TOTAL AMOUNT<h6> &#8377;{{totalAmount}}</h6></ion-col>
        </ion-row>
    </ion-grid>
    <h2 class="center" *ngIf="no_orders">{{orders_error}}</h2>
    <ion-list no-lines *ngFor="let date of dates">
              <ion-list-header>{{date| date: 'dd/MM/yyyy'}}</ion-list-header>
        <ion-item class="orders">
            <section id="cd-timeline" class="cd-container"  *ngFor="let data of values">
                     <div class="cd-timeline-block" *ngIf="(date| date: 'dd/MM/yyyy')==(data.value.created_at| date: 'dd/MM/yyyy')">
                 <div class="cd-timeline-icon">
                   <ion-icon color="primary" name="clock" *ngIf="data.value.status=='processing'"></ion-icon>
                        <ion-icon color="danger" name="close-circle" *ngIf="data.value.status=='holded'"></ion-icon>
                        <ion-icon color="warning" name="alert" *ngIf="data.value.status=='pending'" ></ion-icon>
                    </div>
                    <div (click)="gotoOrderDetail(data.value.order_id)">
                        <span class="order_key">#{{data.value.order_id}}</span>
                        <span class="date_creation">{{data.value.created_at | date: 'hh:mm'}}</span>
                        <div class="cd-timeline-content">
                            <h2>Amount: &#8377;{{data.value.grand_total}}</h2>
                            <h2 text-capitalize>Status: {{data.value.status}}</h2>
                            <hr>
                        </div>
                    </div>
                </div>
            </section>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
