<header  [title]='"MY DOWNLOADABLE PRODUCTS"' [wishList]=false></header>
<ion-content>
    <ion-spinner class="apiSpinner" *ngIf="spin"></ion-spinner>
    <span *ngIf="myDownloadableData">
        <ion-card *ngFor="let data of myDownloadableData.data">
            <img src="http://144.76.34.244:8080/magento/mobile/web/media/catalog/product//g/r/group.jpg"
             />
            <ion-card-content>
                <ion-card-title>
                    {{data.link_title}}
                </ion-card-title>
                <ion-grid>
                    <ion-row>
                        <ion-col col-6>Date: {{data.date}}</ion-col>
                        <ion-col col-6>Status: {{data.status}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6>
                            <button ion-button icon-left clear small class="no-padding" [disabled]="data.status == 'pending'">
                                    <ion-icon name="download"></ion-icon> 
                                <div><a class="no-underline" href="http://144.76.34.244:8080/magento/mobile/web/downloadable/download/link/id/{{data. link_hash}}/" download>Download</a></div>
                            </button>
                        </ion-col>
                        <ion-col col-6>
                            <button ion-button icon-right clear small class="no-padding" [disabled]="data.status == 'pending'">
                                    <ion-icon name="share"></ion-icon> 
                                <div> &nbsp;Share</div>
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </span>
</ion-content>