<header  [title]='"Edit Account Information"'></header>
<ion-content >
    <ion-spinner *ngIf="spin" id="magLeft50"></ion-spinner>
    <form [formGroup]="updateAccount" *ngIf="spin==false">
        <ion-list inset>
            <ion-item>
                <ion-label floating>First Name <span color="danger">*</span></ion-label>
                <ion-input  [onReturn]='"lastName"' formControlName="firstname" clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Last Name <span color="danger">*</span></ion-label>
                <ion-input  [onReturn]='"email"' id="lastName"  formControlName="lastname"  clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Email<span  color="danger">*</span></ion-label>
                <ion-input type="email" id="email" [onReturn]='"btn"' class="lowercase" formControlName="email" ></ion-input>
            </ion-item>
        </ion-list>
        <div class="center">
            <btn-round [title]='"Save"' [spin]="editAccountspin" [id]="'btn'" [valid]="!updateAccount.valid" (onBtnClick)="update(updateAccount.value)" ></btn-round>
        </div>
    </form>
</ion-content>                    
