.myaccount {
    ion-scroll {
        position: initial;
    }
    .scroll-content {
        overflow: auto !important;

    }
    .add_address{
        bottom: 0;
        position: fixed;
        margin: 0;
    }
    ion-card{
        padding-bottom: 20px;
    }

.saveAddress {
  position:fixed;
  bottom:0px;
}
}

