<header class="myaccount" [title]='title' [wishList]=false></header>
<ion-content class="myaccount">
    <ion-spinner *ngIf="spin" id="magLeft50"></ion-spinner>
    <form [formGroup]="updateform" *ngIf="spin==false">
        <ion-list inset>
            <ion-item>
                <ion-label floating>First Name <span color="danger">*</span></ion-label>
                <ion-input  [onReturn]='"lastName"' formControlName="firstname" clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Last Name <span color="danger">*</span></ion-label>
                <ion-input  [onReturn]='"Company"' id="lastName"  formControlName="lastname"  clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Company</ion-label>
                <ion-input id="Company" [onReturn]='"Fax"'  formControlName="company" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Fax</ion-label>
                <ion-input type="number" min="0" formControlName="fax" id="Fax" [onReturn]='"Telephone"' autocorrect autocomplete clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Mobile Number <span color="danger">*</span></ion-label>
                <ion-input type="number" min="0" formControlName="telephone" id="Telephone" [onReturn]='"Address"' autocorrect autocomplete clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Address <span color="danger">*</span></ion-label>
                <ion-input formControlName="street" id="Address" [onReturn]='"City"' autocorrect autocomplete clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>City <span color="danger">*</span></ion-label>
                <ion-input formControlName="city" id="City" [onReturn]='"Pin"' autocorrect autocomplete clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Pin Code <span color="danger">*</span></ion-label>
                <ion-input type="number" min="0" formControlName="zip" id="Pin"  autocorrect autocomplete clearInput></ion-input>
            </ion-item>
            <ion-item class="no-padding paddRt" *ngIf="counrtyName">
                <ion-label stacked>Country<span color="danger">*</span></ion-label>
                <ion-select  formControlName="countryid" id="Country" [onReturn]='"btn"'>
                    <span *ngFor="let name of counrtyName.body.country">
                        <ion-option [value]="name"> 
                            {{name}}
                        </ion-option>
                    </span>   
                </ion-select>
            </ion-item>
            <ion-item class="no-padding" no-lines>
                <ion-label class="font13">Make it your default billing Address</ion-label>
                <ion-checkbox color="dark" formControlName="default_billing" [checked]="firstTime" [disabled]="firstTime"></ion-checkbox>
            </ion-item>
            <ion-item class="no-padding" no-lines>
                <ion-label class="font13">Make it your default shipping Address</ion-label>
                <ion-checkbox color="dark" formControlName="default_shipping" [checked]="firstTime" [disabled]="firstTime"></ion-checkbox>
            </ion-item>
        </ion-list>
        <div class="center">
            <btn-round [title]='"Save"' [spin]="upd_spin" [id]="'btn'" [valid]="!updateform.valid" (onBtnClick)="update(updateform.value)" ></btn-round>
        </div>
    </form>
</ion-content>
<ion-footer>
</ion-footer>