<header [title]="'My Address'"></header>
<ion-content class="myaccount">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">

        </ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="showAddress==false">
        <h2 text-center>You have no saved address</h2>
    </ion-list>
    <ion-list *ngIf="showAddress">
        <ion-spinner *ngIf="spin" id="magLeft50"></ion-spinner>
        <ion-card *ngFor="let address of reverseCartData ; let id=index">
            <ion-card-content class="paddTop">
                <ion-buttons end>
                    <button ion-button class="iconTransparent" color="light" icon-only small (click)="AccountPopoverPage($event,id,address.entity_id)">
                     <ion-icon name="more"></ion-icon>
            </button>
                </ion-buttons>
                <ion-grid>
                    <ion-row>
                        <ion-col width-20 class="no-padding">
                             <ion-buttons >
                                <button class="iconTransparent" color="light" ion-button  icon-only small>
                     <ion-icon name="person"></ion-icon>
            </button>
                            </ion-buttons>                       
                        </ion-col>
                        <ion-col width-80 class="no-padding">
                            <h2 class="capitalize">{{address.firstname+" "+address.lastname}}</h2>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col width-20 class="no-padding">
                            <ion-buttons >
                                <button class="iconTransparent" color="light" ion-button  icon-only small>
                     <ion-icon name="call"></ion-icon>
            </button>
                            </ion-buttons>
                        </ion-col>
                        <ion-col width-80 class="no-padding">
                         <p class="lineHeight"> {{address.telephone}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col width-20 class="no-padding">
                            <ion-buttons >
                                <button class="iconTransparent" color="light" ion-button  icon-only small>
                     <ion-icon name="pin"></ion-icon>
               </button>
                            </ion-buttons>
                        </ion-col>
                        <ion-col  width-80 class="no-padding">
                        <p class="cartData lineHeight capitalize">{{address.street}} {{address.city}} {{address.country_id}}-{{address.postcode}}</p>                        
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col width-20 class="no-padding">
                            <ion-buttons >
                                <button class="iconTransparent" color="light" ion-button  icon-only small>
                     <ion-icon name="briefcase"></ion-icon>
               </button>
                            </ion-buttons>
                        </ion-col>
                        <ion-col  width-80 class="no-padding">
                        <p class="capitalize lineHeight"> {{address.company}}</p>                        
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col width-20 class="no-padding">
                            <ion-buttons >
                                <button class="iconTransparent" color="light" ion-button  icon-only small>
                     <ion-icon name="print"></ion-icon>
               </button>
                            </ion-buttons>
                        </ion-col>
                        <ion-col  width-80 class="no-padding">
                        <p class="lineHeight">Fax: {{address.fax}}</p>              
                        </ion-col>
                    </ion-row>                    
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
<ion-footer>
    <button ion-button full class="add_address botton" (click)="addNewAddress()">
      <span *ngIf="addAddr==false">  Add New Address</span>
      <ion-spinner *ngIf="addAddr" class="spin">
     </ion-spinner>
    </button>
</ion-footer>