<header [title]="'My Address'" [wishList]=false></header>
<ion-content class="myaccount">
    <ion-spinner *ngIf="spin && !error" id="magLeft50"></ion-spinner>
    <!--<ion-spinner class="apiSpinner" *ngIf="spin1" ></ion-spinner>-->
    <p class="error" *ngIf="error" style="color:#f00; text-align: center;">Check Network Connection</p>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">

        </ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="showAddress==false" text-center>
        <!--<img src="http://cdn.shopify.com/s/files/1/0914/0770/products/fab_pink_blank_1000px_2.jpeg">-->
        <!--<h2 text-center>Your address book is blank. Update it with your regular billing/shipping address.</h2>-->
    </ion-list>
    <ion-list *ngIf="showAddress">
        <ion-card  *ngFor="let address of reverseCartData ; let id=index">
            <ion-card-content class="paddTop">
                <!--<ion-radio class="padding10" value="{{address.firstname}}"></ion-radio>-->
                <ion-buttons class="floatRight" end>
                    <button ion-button class="iconTransparent" color="light" icon-only small (click)="AccountPopoverPage($event,id,address.entity_id, address)">
                            <ion-icon name="more"></ion-icon>
                    </button>
                </ion-buttons>
                <ion-grid>
                    <ion-row>
                        <ion-col col-2 class="no-padding">
                            <ion-buttons >
                                <button class="iconTransparent" color="light" ion-button  icon-only small>
                                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                                </button>
                            </ion-buttons>                       
                        </ion-col>
                        <ion-col col-10 class="no-padding">
                            <h2 class="capitalize">{{address.firstname+" "+address.lastname}}</h2>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col-2 class="no-padding">
                            <ion-buttons >
                                <button class="iconTransparent" color="light" ion-button  icon-only small>
                                    <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                                </button>
                            </ion-buttons>
                        </ion-col>
                        <ion-col col-10 class="no-padding">
                            <p class="lineHeight"> {{address.telephone}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-2 class="no-padding">
                            <ion-buttons >
                                <button class="iconTransparent" color="light" ion-button  icon-only small>
                                    <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                                </button>
                            </ion-buttons>
                        </ion-col>
                        <ion-col  col-10 class="no-padding">
                            <p class="cartData lineHeight capitalize">{{address.street}} {{address.city}} {{address.country_name}} <span *ngIf="address.region">{{address.region}}</span>-{{address.postcode}}</p>                        
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="address.company">
                        <ion-col col-2 class="no-padding">
                            <ion-buttons >
                                <button class="iconTransparent" color="light" ion-button  icon-only small>
                                    <i class="fa fa-briefcase fa-lg" aria-hidden="true"></i>
                                </button>
                            </ion-buttons>
                        </ion-col>
                        <ion-col  col-10 class="no-padding">
                            <p class="capitalize lineHeight"> {{address.company}}</p>                        
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="address.fax">
                        <ion-col col-2 class="no-padding">
                            <ion-buttons >
                                <button class="iconTransparent" color="light" ion-button  icon-only small>
                                    <i class="fa fa-fax fa-lg" aria-hidden="true"></i>
                                </button>
                            </ion-buttons>
                        </ion-col>
                        <ion-col  col-10 class="no-padding">
                            <p class="lineHeight">Fax: {{address.fax}}</p>              
                        </ion-col>
                    </ion-row>
                    <ion-row class="capitalize green">
                        <ion-col>
                            <ion-label class="no-margin floatLeft defaultaddress"> Default Shipping</ion-label>
                            <ion-checkbox color="dark" [disabled]="disable || spin" [(ngModel)]='address.add_shipping'  (ngModelChange)="updateAdd(address,'default_shipping')"></ion-checkbox>
                        </ion-col>
                        <ion-col>
                            <ion-label class="no-margin floatLeft defaultaddress">Default Billing</ion-label>
                            <ion-checkbox color="dark" [disabled]="disable || spin" [(ngModel)]="address.add_billing" (ngModelChange)="updateAdd(address,'default_billing')"></ion-checkbox>
                        </ion-col>
                    </ion-row>                    
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
<ion-footer>
    <btn-full  [titleFull]='"Add New Address"' [spinFull]="addAddr" [id]="'btn'" [classFull]="'add_address botton'" (onBtnClick)="addNewAddress()"></btn-full>
</ion-footer>