<ion-grid  *ngIf="product" [ngClass]="{'portrait': displayMode == 'Portrait', 'landscape': displayMode == 'Landscape'}" >
    <div class="card1">   
        <div class="rowForLandscape" wrap>
            <div class="column cursorPointer relative"  *ngFor="let feat_prod of product" >
                 <div class="cardForPortrait">
                    <div class="row margin10"> 
                        <div class="columnForGrid25">
                            <span *ngIf="displayMode == 'Landscape'" class=" absolute potrateWishListIco " (tap)="wishList(feat_prod)">
                                <!--<i class="fa fa-heart" aria-hidden="true" ></i>-->
                                <!--<div class="heart floatRight" [ngClass]="{'is_animating':feat_prod.data.wishlist_item_id}"></div>-->
                                <ion-icon name="heart" class="heart " [ngClass]="{'lightRed':feat_prod.data.wishlist_item_id}"></ion-icon>
                            </span>
                            <div class="imgBox" (tap)="gotoProduct(feat_prod.data.sku)">
                                <img class="center" src="{{feat_prod.data.minify_image}}"/>
                                <!--<ion-img width="100%" [height]="imgHeight" [src]="feat_prod.data.minify_image"></ion-img>-->
                            </div>
                        </div>
                        <div class="columnForGrid75">
                            <div *ngIf="displayMode == 'Portrait'" class=" absolute landscapWishListIco  columnForGrid25" (tap)="wishList(feat_prod)">
                                <!--                                        <div class="heart floatRight" [ngClass]="{'is_animating':feat_prod.data.wishlist_item_id}"></div>-->
                                <!--<i class="fa fa-heart" aria-hidden="true" ></i>-->
                                <ion-icon name="heart" class="heart" [ngClass]="{'lightRed':feat_prod.data.wishlist_item_id}"></ion-icon>

                            </div>
                            <ion-card-content class="margin10 relative" >
                                <div class="row rowForLandscape" (tap)="gotoProduct(feat_prod.data.sku)">
                                    <div [ngClass]="{'columnForGrid100':displayMode == 'Landscape' ,'columnForGrid75':displayMode == 'Portrait' }" >
                                        <div class="font013 capitalize cartTitle" >
                                            {{feat_prod.data.name}}
                                        </div>    
                                    </div>
                                </div>
                                <div *ngIf="feat_prod.data.type !='bundle'" class="row rowForLandscape" (tap)="gotoProduct(feat_prod.data.sku)">
                                    <div class="columnForGrid100">
                                        <span [ngClass]="{'redColor':((feat_prod.data.display_special_price*1) == (feat_prod.data.final_price*1) && (feat_prod.data.final_price*1) >0)}" ><span *ngIf="(feat_prod.data.display_special_price*1) == (feat_prod.data.final_price*1) && (feat_prod.data.final_price*1) >0">Special Price</span> {{feat_prod.data.currency_sign}}{{feat_prod.data.final_price}}</span>
                                        <span   [ngClass]="{'line': (feat_prod.data.display_special_price*1) == (feat_prod.data.final_price*1)}" *ngIf="(feat_prod.data.display_special_price*1) == (feat_prod.data.final_price*1) && ((feat_prod.data.final_price*1) >0)">{{feat_prod.data.currency_sign}}{{feat_prod.data.display_price}}</span>
                                    </div>
                                </div>
                                <div class="row rowForLandscape" (tap)="gotoProduct(feat_prod.data.sku)" *ngIf="feat_prod.data['displayBundlePrice']">
                                    <div class="columnForGrid100">
                                        <span [innerHtml]="transformPrice(feat_prod.data)"></span>
                                    </div>
                                </div>
                                <div class="row rowForLandscape" *ngIf="feat_prod.data.rating>0" (tap)="gotoProduct(feat_prod.data.sku)">
                                    <div class="columnForGrid25 Grid50">
                                        <button ion-button icon-left class="btnStar">
                                            <ion-icon name="star"></ion-icon>
                                            {{feat_prod.data.rating | singleDecimal}} / 5
                                        </button>
                                    </div>
                                    <div class="columnForGrid75 Grid50 font12 marTop6  padTop5" *ngIf="feat_prod.data.total_review>0">
                                        <span class="padTop6 lineHeight"> {{feat_prod.data.total_review}}&nbsp;Reviews</span>
                                    </div>
                                </div>
                            </ion-card-content>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-grid>