<ion-grid  *ngIf="product">

    <div class="card1">   
        <div class="rowForLandscape" wrap>
            <div class="column cursorPointer"  *ngFor="let feat_prod of product" (click)="gotoProduct(feat_prod.data.sku)">
                 <div class="cardForPortrait">
                    <div class="row margin10"> 
                        <div class="columnForGrid25">
                            <div class="imgBox">
                                <img imageDirective src="{{feat_prod.data.small_image}}"/>
                                <img src="{{feat_prod.data.minify_image}}"/>
                            </div>
                        </div>
                        <div class="columnForGrid75">
                            <ion-card-content class="margin10">
                                <div class="row rowForLandscape">
                                    <div class="columnForGrid100">
                                        <div class="font013 capitalize cartTitle" >
                                            {{feat_prod.data.name}}
                                        </div>    
                                    </div>
                                </div>
                                <div class="row rowForLandscape">
                                    <div class="columnForGrid100">
                                        <span  *ngIf="feat_prod.data.display_special_price >0" >{{feat_prod.data.currency}}{{feat_prod.data.display_special_price}}</span>
                                        <span   [ngClass]="{'line': feat_prod.data.display_special_price >0}" >{{feat_prod.data.currency}}{{feat_prod.data.display_price}}</span>
                                    </div>
                                </div>
                                <div class="row rowForLandscape" *ngIf="feat_prod.data.rating>0">
                                    <div class="columnForGrid25 Grid50">
                                        <button ion-button icon-left class="btnStar">
                                            <ion-icon name="star"></ion-icon>
                                            {{feat_prod.data.rating | singleDecimal}} / 5
                                        </button>
                                    </div>
                                    <div class="columnForGrid75 Grid50 font12 marTop6  padTop5" *ngIf="feat_prod.data.total_review>0">
                                        <span class="padTop6 lineHeight"> {{feat_prod.data.total_review}}&nbsp;Reviews</span>
                                    </div>
                                </div>
                            </ion-card-content>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-grid>