category-view{
    ion-img{
        min-height:100px !important;
        min-width: 100% !important;
        background-image:url('.././assets/image/default.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .redColor{
        color:red;
    }
    .heart {
        cursor: pointer;
        padding: 15px !important;
        color:#adadad;
    }  


    /*@media screen and (orientation: portrait) {*/  
    ion-grid{padding-top: 0px;} 
    .portrait{
        img{
            height: 100px;
            width: auto;
        }

        .cardForPortrait{
            width: 100%; 
            min-height: 106px;
            border-radius: 2px;
            background: #fff;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        }
        .columnForGrid25{
            -webkit-flex: 0 0 33%;
            -ms-flex: 0 0 33%;
            flex: 0 0 33%;
            max-width: 33%;
        }
        .columnForGrid75{
            -webkit-flex: 0 0 67%;
            -ms-flex: 0 0 67%;
            flex: 0 0 67%;
            max-width: 67%;
        }
        .columnForGrid100{
            -webkit-flex: 0 0 100%;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;   
        }
        .row{
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            margin: 5px;
        }
        .imgBox{
            margin: 10px; 
        }
        .margin10{
            margin: 10px;
        }
        .marTop6{
            margin-top: 6px !important;
        }
        .padTop6{
            padding-top: 6px;
        }
    }
    /*@media screen and (orientation: landscape) {*/
    .landscape{
        .columnForGrid75{
            width: 100%;
        }
        .columnForGrid25{
            width:100%
        }
        img{
            max-height: 100px;
            max-width: 100%;
        }
        .iconShow{
            top: 0;
            position: absolute;
        }
        .card1 {
            /*margin: 10px 0px 0px 0px ;*/
            width: 100%; 
            border-radius: 2px;
            font-size: 1.4rem;
            background: #fff;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0px 0px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0);
        }
        ion-card img {
            height: 100% !important;
        }
        .imgBox{
            /*            display: table-cell;*/
            height: 100px;

        }
        .column {
            -webkit-flex: 0 0 25%;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            width: 165px;
            border:1px solid #EFEFEF;
        }
        .price{
            text-align: right;
            font-size: 11px !important;
            color: $blue !important;
            font-weight: 500;
        }
        .font013{
            font-size: 13px !important;
        }
        .cartTitle{
            display: block;
            margin: 2px 0 2px;
            padding: 8px 0 0px 0;
            font-size: 1.8rem;
            line-height: 1.2;
            color: #222;
        }
        .rowForLandscape{
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-wrap: wrap;
            display: flex;
            width: 100%;  
            margin-bottom: 1px;
        }
        .margin10{
            margin: 10px;
        }
        .Grid50{
            -webkit-flex: 0 50%;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;   
        }
        .padTop5{
            padding-top: 5px;
        }
        .lineHeight{
            line-height: 1.55;
        }
        @media only screen and (max-width: 600px) {
            .column {
                -webkit-flex: 0 0 50%;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
            }

        }
    } 
    .btnStar{
        padding: 0px !important;
        height: auto !important; 
        font-size: 11px;
        padding: 4px !important;
    }
    .fontWidth{
        font-weight: bold;
    }
    .card-content-md{
        padding: 0px;

    }
}
.footerCateg{
    line-height: 2;
    background: white;
}
img{
    margin: 0 auto;
}
