<ion-grid  *ngIf="product" [ngClass]="{'portrait': displayMode == 'Portrait', 'landscape': displayMode == 'Landscape'}" >
    <div class="card1">   
        <div class="rowForLandscape" wrap>
            <div class="column cursorPointer"  *ngFor="let feat_prod of product" >
                 <div class="cardForPortrait">
                    <div class="row margin10"> 
                        <div class="columnForGrid25">
                            <div class="imgBox relative">
                                <span *ngIf="displayMode == 'Landscape'" class=" absolute wishlist" (click)="wishList(feat_prod)">
                                    <!--<i class="fa fa-heart" aria-hidden="true" ></i>-->
                                    <div class="heart floatRight" [ngClass]="{'is_animating':feat_prod.toggleWishList}"></div>
                                </span>
                                <span (click)="gotoProduct(feat_prod.data.sku)">
                                    <img class="center" imageDirective src="{{feat_prod.data.small_image}}"/>
                                    <img class="center" src="{{feat_prod.data.minify_image}}"/>
                                </span>
                            </div>
                        </div>
                        <div class="columnForGrid75">
                            <ion-card-content class="margin10 relative" >
                                <div class="row rowForLandscape">
                                    <div [ngClass]="{'columnForGrid100':displayMode == 'Landscape' ,'columnForGrid75':displayMode == 'Portrait' }" (click)="gotoProduct(feat_prod.data.sku)">
                                        <div class="font013 capitalize cartTitle" >
                                            {{feat_prod.data.name}}
                                        </div>    
                                    </div>
                                    <div *ngIf="displayMode == 'Portrait'" class=" absolute landscapWishListIco lightRed columnForGrid25" (click)="wishList(feat_prod)">
                                        <div class="heart floatRight" [ngClass]="{'is_animating':feat_prod.toggleWishList}"></div>
                                        <!--<i class="fa fa-heart" aria-hidden="true" ></i>-->
                                    </div>
                                </div>
                                <div class="row rowForLandscape" (click)="gotoProduct(feat_prod.data.sku)">
                                    <div class="columnForGrid100">
                                        <span color="red"  *ngIf="feat_prod.data.display_special_price >0" ><span *ngIf="feat_prod.data.display_special_price >0">Special Price</span> {{feat_prod.data.currency_sign}}{{feat_prod.data.display_special_price}}</span>
                                        <span   [ngClass]="{'line': feat_prod.data.display_special_price >0}" >{{feat_prod.data.currency_sign}}{{feat_prod.data.display_price}}</span>
                                    </div>
                                </div>
                                <div class="row rowForLandscape" *ngIf="feat_prod.data.rating>0" (click)="gotoProduct(feat_prod.data.sku)">
                                    <div class="columnForGrid25 Grid50">
                                        <button ion-button icon-left class="btnStar">
                                            <ion-icon name="star"></ion-icon>
                                            {{feat_prod.data.rating | singleDecimal}} / 5
                                        </button>
                                    </div>
                                    <div class="columnForGrid75 Grid50 font12 marTop6  padTop5" *ngIf="feat_prod.data.total_review>0">
                                        <span class="padTop6 lineHeight"> {{feat_prod.data.total_review}}&nbsp;Reviews</span>
                                    </div>
                                </div>
                            </ion-card-content>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-grid>