<header></header>

<ion-content class="changepassword">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <form [formGroup]="changepassform" *ngIf="changeActive">
        <ion-item>
            <ion-label floating>Old Password</ion-label>
            <ion-input type="password"  formControlName="password" autocorrect autocomplete clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>New password</ion-label>
            <ion-input type="password"  formControlName="newPassword" autocorrect autocomplete clearInput></ion-input>
        </ion-item>
        <button ion-button full color="primary" class="botton buttChangePwd"  (click)="changepassword(changepassform.value)" [disabled]="!changepassform.valid">
            <span *ngIf="spin==false">Change Password</span>
            <ion-spinner *ngIf="spin" class="spin" ></ion-spinner>
        </button>

    </form>
</ion-content>
