<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center>Change Password</ion-title>
        <ion-buttons end>
            <button  ion-button icon-only (click)="presentPopover($event)">
                     <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="changepassword">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card>
        <ion-card-content no-padding>

            <ion-list inset>

                <form [formGroup]="changepassform" *ngIf="changeActive">
                    <ion-item>
                        <ion-label floating>Old Password</ion-label>
                        <ion-input type="password"  formControlName="password" autocorrect autocomplete clearInput></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>New password</ion-label>
                        <ion-input type="password"  formControlName="newPassword" autocorrect autocomplete clearInput></ion-input>
                    </ion-item>
                    <ion-buttons class="center" padding>
                        <button  ion-button color="primary" medium [disabled]="!changepassform.valid" (click)="changepassword(changepassform.value)">Change Password</button>
                    </ion-buttons>
                </form>
                <p align="center" *ngIf="spin"><ion-spinner ></ion-spinner></p>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
