# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/
nbproject/
nbproject/private/
nbproject/private/private.xml
varwwwhtmldeploy2invisionionic/
varwwwhtmldeploy2invisionionic/*.json
bower_components/
package.json.1083437870
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
resources/
resources/android/icon/*.png
resources/android/splash/*.png
nbproject/private/private.xml