<ion-header>
    <ion-navbar primary>
        <ion-title>My Account</ion-title>
        <ion-buttons end>
            <button (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>



<ion-content  class="myaccount">
    <ion-spinner *ngIf="spin" id="magLeft50"></ion-spinner>
    <form [formGroup]="updateform" *ngIf="user_add">
        <ion-list inset class="padd60" >
            <ion-item>
                <ion-label stacked>First Name <span style="color: red;">*</span></ion-label>
                <ion-input formControlName="firstname" autocorrect autocomplete clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Last Name <span style="color: red;">*</span></ion-label>
                <ion-input formControlName="lastname" autocorrect autocomplete clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>City <span style="color: red;">*</span></ion-label>
                <ion-input formControlName="city" autocorrect autocomplete clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Company</ion-label> 
                <ion-input  formControlName="company" autocorrect autocomplete clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Telephone <span style="color: red;">*</span></ion-label>
                <ion-input  formControlName="teliphone" autocorrect autocomplete clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Address <span style="color: red;">*</span></ion-label>
                <ion-input  formControlName="street" autocorrect autocomplete clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Pin Code <span style="color: red;">*</span></ion-label> 
                <ion-input  formControlName="zip" autocorrect autocomplete clearInput></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Country <span style="color: red;">*</span></ion-label> 
                <ion-input formControlName="countryid" autocorrect autocomplete clearInput></ion-input>
            </ion-item>           
            <ion-buttons class="center" padding>
                <button primary medium [disabled]="!updateform.valid" (click)="update(updateform.value)">Update</button><ion-spinner  *ngIf="upd_spin"></ion-spinner>
            </ion-buttons>   
        </ion-list>
    </form>
</ion-content>
