<ion-footer  class="uppercase footerCateg">
    <ion-grid>
        <ion-row>
            <ion-col width-50 class="center" (click)="sortModel()">
                <ion-icon name="arrow-round-up" style="font-size: 2rem;"></ion-icon>
                <ion-icon name="arrow-round-down" style="margin-right: 10px;font-size: 2rem;"></ion-icon> Sort BY
            </ion-col>
            <ion-col width-50 class="center" (click)="filterModal()" >
                <ion-icon name="funnel" style="margin-right: 10px;"></ion-icon> Filters
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>