@import "./app.common.scss";
@import "../pages/startpage/startpage";
@import "../pages/login/login.scss";
@import "../pages/register/register.scss";
@import "../components/loading-modal/loading-modal";
@import "../pages/home/home.scss";
@import "../pages/takeTour/tour.scss";
@import "../pages/forgot/forgot.scss";
@import "../pages/myaccount/myaccount.scss";
@import "../pages/changepassword/changepassword.scss";
@import "../pages/orderlist/orderlist.scss";
@import "../pages/product/product.scss";
@import "../pages/orderid-detail/orderid-detail.scss";
@import "../pages/cart/cart.scss";
