
@import "../pages/startpage/startpage";
@import "../pages/login/login.scss";
@import "../pages/register/register.scss";
@import "../components/loading-modal/loading-modal";
@import "../pages/home/home.scss";
@import "../pages/takeTour/tour.scss";
@import "../pages/forgot/forgot.scss";
@import "../pages/myaccount/myaccount.scss";
@import "../pages/changepassword/changepassword.scss";
@import "../pages/orderlist/orderlist.scss";
@import "../pages/product/product.scss";
@import "../pages/cart/cart.scss";

.alignright{
    text-align: right;
}
.aligncenter{
    text-align: center;
}

.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
