// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import "globals.core";

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
primary:    #387ef5,
secondary:  #32db64,
danger:     #f53d3d,
light:      #f4f4f4,
dark:       #222,
favorite:   #69BB7B,
warning:    #8a6d3b,
gray:       #424242,
);

scroll-content {
    overflow: hidden;
}
$grean      :#00631D;
$darkBlue  :#1c57ff;
$hafeWite  :#f3f3f3;
$lightGray :#D0D0D0;
$gray      :#424242;
$Gray40    :#666666;
$blacky    :#222222;
$red       :#e31e1e;
$olive     :#8a6d3b;
$cream     :#f3f3f3;
$lightGrean:#BDDFB3;
$blue      :#4a87ee;
$bluesGray :#303E49;
$white     :#fbfbfb;