<header [title]="'My Wishlist'" [pagename]="''" [wishList]=false></header>
<ion-content class="empty-wishlist" *ngIf="!data || data.length == 0">
    <img src="assets/image/empty-wishlist.jpg">
    <h3>YOUR WISHLIST IS EMPTY</h3>
    <btn-round [title]='"Continue Shopping"' [id]="'btn'" [color]="'primary'" (onBtnClick)="c_Shopping()" ></btn-round>
</ion-content>
<ion-content *ngIf="data && data.length > 0">
    <ion-list>
        <ion-item-sliding *ngFor="let data of data">
            <ion-item>
                <ion-grid no-padding>
                    <ion-row center >
                        <ion-col class="aligncenter" width-33>
                            <ion-row center>
                                <ion-col>
                                    <img imageDirective src="{{data.data.media_images[0]}}" alt="" class="maxht"/>
                                     <img src="{{data.data.minify_image}}"/>
                                </ion-col> 
                            </ion-row>
<!--                            <ion-row center>
                                <ion-col>
                                    {{data.data.currency_sign}}{{data.data.final_price}}
                                </ion-col> 
                            </ion-row>-->
                        </ion-col>
                        <ion-col width-67>
                            <ion-row>
                                <ion-col class="size capitalize font20" style="white-space: initial;">
                                    {{data.data.name}}
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col style="white-space: initial;">
                                    {{data.data.short_description}}
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
<!--                <ion-item>
                    <ion-textarea value="" placeholder="Please enter your comment" [(ngModel)]="text" style="border: 1px solid #d6d5d5;"(blur)="textArea(opt,customOption.id,customOption.is_require)"></ion-textarea> 
                </ion-item> -->
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="primary" (click)=editWishList(data)>
                    <ion-icon name="create"></ion-icon>
                    Edit
                </button>
                <button ion-button color="red" (click)=deleteProductWishList(data)>
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
            <ion-item-options side="left">
                <button ion-button  (click)=addToCart(data)>
                        <ion-icon name="cart"></ion-icon>
                    Add To Cart
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
<ion-footer [ngClass]="{'none': !data || data.length == 0,'uppercase':true}">
    <btn-full  [titleFull]='"CONTINUE SHOPPING"'  [id]="'btn'"  [classFull]="'botton'" (onBtnClick)="c_Shopping()"></btn-full>
</ion-footer>