.home1 {
    margin-top: 56px;
    .mgLeft50{
        margin-left: 50%;
    }
}
    .apiSpinner{
        display: block;
        margin: 0 auto;
        position: fixed;
        top: 45%;
        left: 45%;
    }