<header [title]='title' [pagename]="'home'" [view]="true" ></header>

<ion-content class="home1">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">

        </ion-refresher-content>
    </ion-refresher>
    <ion-spinner class="apiSpinner" *ngIf="!categoryProduct && !error"></ion-spinner>
    <p class="error" *ngIf="error" style="color:#f00; text-align: center;">Check Network Connection</p>
    <category-view *ngIf="categoryProduct" [product]="categoryProduct.body"></category-view>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<category-footer [previouseSortSection]='previouseSortSection' [previouseSortOrder]='previouseSortOrder' [catedoryId]='product_id? product_id : sortByData.product_id'></category-footer>
