<!-- coll header component -->
<header [title]='title' [pagename]="'home'" [search]='true' [view]="true" ></header>

<ion-content class="home1"  [header-scroller]="display_mode">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">

        </ion-refresher-content>
    </ion-refresher>
    <ion-spinner class="apiSpinner" *ngIf="spinner(categoryProduct) && !error"></ion-spinner>
    <span class="center">
        <ion-badge color="red" *ngIf="error">Check Network Connection</ion-badge>
    </span>
    <span class="center" *ngIf="categoryProduct && categoryProduct.body.length==0">
        <div class="center" padding-top  ><ion-badge color="alert_yellow" >No Item Found</ion-badge></div> 
    </span>
    <category-view *ngIf="categoryProduct" [product]="categoryProduct.body"></category-view>
    <ion-infinite-scroll threshold="60%"  (ionInfinite)="doInfinite($event)" *ngIf="categoryProduct && categoryProduct.body.length > 9">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<!-- coll header component -->
<!--*ngIf="display_mode!='PAGE'"-->
<category-footer *ngIf="(product_count > 0) && categoryProduct" [previouseSortSection]='previouseSortSection' [previouseSortOrder]='previouseSortOrder' [catedoryId]='product_id? product_id : sortByData.product_id'></category-footer>
