<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle icon-left (click)="openMenu()">
                <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>
            Home
        </ion-title>
        <button class="right" ion-button (click)="presentPopover($event)" end>
                 <ion-icon name="more"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content class="home1">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">

        </ion-refresher-content>
    </ion-refresher>
    <ion-grid *ngIf="clickshow" showWhen="landscape">
        <ion-row  wrap>
            <ion-col class="cursorPointer" *ngFor="let product of products" width-20 >
                     <ion-card (click)="gotoproduct(product.data.sku)">
                    <img src="{{product.data.media_images[0]}}" alt="..." height="225px">
                    <ion-card-content>
                        <ion-card-title class="font12">
                            {{product.data.name}}
                        </ion-card-title>
                        <p> <a href="#" class="price" role="button">{{product.data.display_price}}</a></p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid *ngIf="clickshow" showWhen="mobile">
        <ion-row  wrap>
            <ion-col class="cursorPointer" *ngFor="let product of products" width-50 >
                     <ion-card (click)="gotoproduct(product.data.sku)">
                    <img src="{{product.data.media_images[0]}}" alt="..."  height="150px">
                    <ion-card-content>
                        <ion-card-title class="font12">
                            {{product.data.name}}
                        </ion-card-title>
                        <p> <a href="#" class="price" role="button">{{product.data.display_price}}</a></p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
