cart{
    .item-md{
        padding-left: 0px !important;
    }
    ion-label {
        margin: 0px;
    }
    .item.item-select {
        min-height: 3rem;
        padding-left: 2px;
        border-style: none;
    }
    .size{
        font-size: 17px!important;
        font-weight: 600;
        white-space: normal;
    }
    .select-icon {
        display: none;
    }
    .maxht{
        max-height: 150px;
    }
    .qtyborder{
        background: $hafeWite;
    }
    .marBot10{
        margin-bottom: 10px;
    }
    .border{
        border-bottom-style: solid;
        border-width: 1px;
        border-bottom-color: $lightGray;
    }
    .iconTransparent 
    {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .lineHeight{
        line-height: 2.5;
    }
    .inputSize{
        width: 42px;    
    }
    .qtySelectlist{
        width: 40px; 
        margin-right: 10px;
    }
    .alignRight{
        text-align: right;
    }
    .alignLeft{
        text-align: left;
    }
    .borderRemove .item-inner{
        border-bottom: 0px !important;
    }
    .inlineCol{
        float:left;
    }
}
.empty-cart{
    margin-top: 10%;
    text-align:center;
    img{
        max-width: 50%;
    }
}