<header [title]="'Cart'" [pagename]="''"></header>
<ion-content class="cart" *ngIf="res && res.length > 0">
    <ion-list>
        <ion-item-sliding  *ngFor="let data of res">
            <ion-item >
                <ion-grid no-padding>
                    <ion-row center>
                        <ion-col class="aligncenter" width-20>
                            <img src="{{data.img}}" alt="" class="maxht"/>
                        </ion-col>
                        <ion-col width-80>
                            <ion-row>
                                <ion-col  class="alignRight">
                                    <p class="font10">{{data.total}}</p>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col width-80 class="size">
                                    {{data.name}}
                                </ion-col>
                                <ion-col width-20 class="alignRight">
                                    <p class="font20 lineHeight" id="marLeft20 marTop10"></p>
                                    <input [(ngModel)]="data.qty" (ngModelChange)="changeQuantity($event,data)" class="inputSize" type="text"> <!--<ion-input type="number"></ion-input>-->
                                </ion-col>
                            </ion-row>
                            <span *ngIf="data.subData">
                                <ion-row *ngFor="let subdata of data.subData">
                                    <ion-col width-80>
                                        <p *ngIf="subdata.value">{{subdata.key}}-{{subdata["value"].label}}</p>
                                    </ion-col>
                                </ion-row>
                            </span>
                            <ion-row *ngIf="data.type=='bundle'">
                                <ion-col width-80 *ngIf="data.subData.length > 0" >
                                         <div *ngFor="let subData of data.subData">
                                        <div *ngFor="let subDataOption of subData">
                                            Name:{{subDataOption.selection_name}} <br>
                                            Quantity: {{subDataOption.selection_qty}}
                                        </div> 
                                    </div> 
                                </ion-col>
                                <ion-col width-20 class="alignRight">
                                    <p class="font10">{{data.total}}</p>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="primary" (click)=deleteProduct(data)>
                    <ion-icon name="trash"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-grid>
        <!--        <ion-row class="border">
                    <ion-col width-50>SHIPPING &nbsp; 33$</ion-col>
                    <ion-col width-50 >
                        <ion-item class="selectlist" no-lines>
                            <ion-label class="lable"></ion-label>
                            <ion-select [(ngModel)]="res2"  [placeholder]="0">
                                <ion-option [value]="obj" >
                                    <ion-label class="lable">dsf</ion-label></ion-option>
                            </ion-select>
                            <ion-label class="lable">
                                <ion-buttons class="alignright">
                                    <ion-icon name="arrow-forward"></ion-icon>
                                </ion-buttons>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row class="border">
                    <ion-col width-50>PAYMENT METHOD</ion-col>
                    <ion-col width-50 >
                        <ion-item class="selectlist" no-lines>
                            <ion-label class="lable">
                                <ion-buttons class="alignright">
                                    <ion-icon name="arrow-forward"></ion-icon>
                                </ion-buttons>
                            </ion-label>
                            <ion-select [(ngModel)]="res1"  [placeholder]="0">
                                <ion-option [value]="obj" >
                                    <ion-label class="lable"></ion-label></ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>-->
        <ion-item class="borderRemove" *ngIf="res.length!=0">
            <ion-row>
                <ion-col width-50 class="alignLeft">TOTAL</ion-col>
                <ion-col width-50 class="alignRight">{{totalPay}}</ion-col>
            </ion-row>
        </ion-item>
    </ion-grid>
</ion-content>

<ion-footer>
    <btn-full [titleFull]='"PLACE ORDER"' [classFull]="'botton'"></btn-full>
</ion-footer>
