<header [title]="'SHOPPING CART'" [pagename]="''" [wishList]=false></header>
<ion-content class="empty-cart" *ngIf="!res || res.length == 0">
    <img src="assets/image/empty-cart.png">
    <h3>Your Shopping Cart is empty</h3>
</ion-content>
<ion-content class="cart" *ngIf="res && res.cart_items && res.cart_items.length > 0">
    <span class="backgroundGray">
        <ion-card  *ngFor="let data of res.cart_items">
            <ion-grid no-padding>
                <ion-row center align-items-center>
                    <ion-col class="aligncenter" col-4>
                        <ion-row center>
                            <ion-col>
                                <img src="{{data.product_image}}" alt="" class="maxht"/>
                            </ion-col> 
                        </ion-row>
                        <ion-row center>
                            <ion-col class="font10">
                                <p><b>UnitPrice:</b>{{data.currency_sign}}{{(data.product_price|number) }} </p><p *ngIf="data.product_qty*1 >0"><b>SubTotal</b> :{{data.currency_sign}}{{(data.product_subtotal|number)}}</p>
                            </ion-col> 
                        </ion-row>
                    </ion-col>
                    <ion-col col-8>
                        <ion-row>
                            <ion-col col-9 class="size capitalize">
                                {{data.product_name}}
                            </ion-col>
                            <ion-col col-3 class="alignRight">
                                <select [(ngModel)]="data.product_qty" (change)="changeQuantity(data)" class="qtySelectlist">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option *ngIf="data.product_qty > 4">{{data.product_qty}}</option>
                                    <option>More</option>
                                </select>
                                <!--<input type="number" placeholder="qty"  [(ngModel)]="data.product_qty"  (change)="changeQuantity(data)" min="1" class="inputSize">-->
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col *ngIf="data.info_buyRequest.attributes_info">
                                <span *ngFor="let subdata of data.info_buyRequest.attributes_info">
                                    <p class="capitalize"><span class="gray">{{subdata.label}} </span> -{{subdata["value"]}}</p>
                                </span>
                                <span *ngIf="data.options">
                                    <span *ngFor="let subdata of data.options">
                                        <p *ngIf="subdata" class="capitalize"><span  class="gray">{{subdata.label}} </span> - <span> {{ subdata.print_value}}</span></p>      
                                    </span>
                                </span>
                            </ion-col>

                            <ion-col >
                                <span *ngIf="data.info_buyRequest.links">
                                    <p>
                                        {{data.info_buyRequest.links['title']}}:-
                                    </p>
                                    <span *ngFor="let subdata of data.info_buyRequest.links['label']">
                                        <p *ngIf="subdata" class="capitalize"><span class="gray">{{subdata}}
                                            </span></p></span></span>
                                <span *ngIf="data.info_buyRequest.options">
                                    <span *ngFor="let options of data.info_buyRequest.options">
                                        <p *ngIf="options" class="capitalize"><span  class="gray">{{options.label}} </span> - <span> {{ options.print_value}}</span></p>      
                                    </span>
                                </span>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>

                <ion-row class="cartRowborder">
                    <ion-col col-6 class="center" (click)=edit(data) *ngIf="!data.info_buyRequest.super_product_config">
                        Edit
                    </ion-col>
                    <ion-col col-6 class="center line" *ngIf="data.info_buyRequest.super_product_config && data.info_buyRequest.super_product_config.product_type == 'grouped'">
                        Edit
                    </ion-col>
                    <ion-col col-6 class="center borderLeft" (click)=deleteProduct(data)>
                        Delete
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </span>
    <ion-item>
        <ion-input type="text" placeholder="Coupon Code" [(ngModel)]="couponCode"></ion-input>
        <button ion-button item-right small [disabled]="!couponCode" (click)="applyCoupon(couponCode)">
                Apply Coupon
                <ion-spinner *ngIf="couponCodeSpin" class="spin"></ion-spinner>
        </button>
        <button ion-button item-right small  icon-only color="danger" [disabled]="!couponCode" (click)="applyCoupon('delete')">
                <ion-icon name="trash"></ion-icon>
                <ion-spinner *ngIf="deleteCouponCodeSpin" class="spin"></ion-spinner>
        </button>
    </ion-item>
    <ion-card>
        <ion-card-header>
            Price Details
        </ion-card-header>
        <ion-grid>
            <ion-row center>
                <ion-col col-8 class="paddLef15">
                    <p>Price ({{res.cart_items.length}} items)</p>
                </ion-col>
                <ion-col col-4 class="alignright paddRighttax10">
                    <p>{{currency_sign}}{{totalPrice}}</p>
                </ion-col>
            </ion-row>
            <ion-row center>
                <ion-col col-8 class="paddLef15">
                    <p>Discount</p>
                </ion-col>
                <ion-col col-4 class="alignright paddRight10">
                    <p>{{currency_sign}}{{discount}}</p>
                </ion-col>
            </ion-row>
            <ion-row center>
                <ion-col col-8 class="paddLef15">
                    <p>Tax</p>
                </ion-col>
                <ion-col col-4 class="alignright paddRight10">
                    <p>{{currency_sign}}{{tax}}</p>
                </ion-col>
            </ion-row>
            <ion-row center>
                <ion-col col-8 class="paddLef15">
                    <p><b>Grand Total</b></p>
                </ion-col>
                <ion-col col-4 class="alignright paddRight10">
                    <p><b>{{currency_sign}}{{grandtotalPrice}}</b></p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-grid class="filterFooterBtnDiv no-padding">
        <ion-row>
            <ion-col col-6>
                <btn-large [titleForLarge]='" CONTINUE SHOPPING"' [classForLarge]="'filterFooterBtn filterFooterBtnFirst font17'" [spinForLarge]="false" [idForLarge]="'singup'" [colorForLarge]="''" [validForLarge]="false" (onBtnClick)="c_Shopping()"></btn-large>
            </ion-col>
            <ion-col col-6>
                <btn-large [titleForLarge]='"CHECKOUT"' [classForLarge]="'filterFooterBtn filterFooterBtnSecond font17'" [spinForLarge]="false" [idForLarge]="''" [colorForLarge]="''" (onBtnClick)="placeOrder()"></btn-large>
            </ion-col>
        </ion-row>
    </ion-grid> 
</ion-footer>
