<header [title]='title' [pagename]='pagename' [view]="true" [search]='true' [menu]='menu'></header>
<sidemenu [token]="userToken"></sidemenu>
<ion-content  class="home" [header-scroller]="PAGE">
    <ion-refresher (ionRefresh)="doRefresh($event)"></ion-refresher>
    <get-slider *ngIf="updateSlider"></get-slider>
    <ion-spinner id="magLeft50" *ngIf="spin || !updateSlider"></ion-spinner>
    <div *ngIf="homeProduct" >
        <category-view [product]="feature_products" ></category-view>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

