.tour{
    .heading{
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 300;
    }
    .swiper-slide {
        font-size: 1.5rem;
        font-weight: 300;
    }
    .align{
        margin: 0px auto;
        width:75%;
        margin-bottom: 5%;
        padding: 15px;
    }
    .swiper-pagination-bullet {
        background: $grean;
    }

    .swiper-container-horizontal > .swiper-pagination {
        bottom: 0px;
        left: 0;
        width: 100%;
    }
    .margBot20{
        margin-bottom: 20px;
    }
    .scroll-content {
        overflow-y: auto;
    }
    .img{
        max-width: 100px; 
        margin: 40px;
    }
}
