<ion-header>
    <ion-toolbar>
        <ion-title>
            Filter by
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                    <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android,windows,core"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-spinner class="apiSpinner" *ngIf="!res.length>0"></ion-spinner>
    <div *ngIf="res.length>0">
        <div *ngIf="price">
            <ion-list-header class='capitalize'>
                {{price.filter_title}}
            </ion-list-header>
            <div class="padding">
                <div><span >Min</span><span class="floatRight ">Max</span></div>
                <div><span  *ngIf="dualValue2">{{dualValue2.lower}} </span> <span *ngIf="dualValue2" class="floatRight"> {{dualValue2.upper}}</span></div>
            </div>
            <ion-list>
                <ion-item  *ngIf="price">
                    <ion-range dualKnobs="true" [(ngModel)]="dualValue2" min="{{price.price.Min}}" max="{{price.price.Max}}" (ngModelChange)="range()"></ion-range>
                </ion-item>        
            </ion-list>
        </div>
        <ion-list class="no-margin" *ngFor="let response of res">
                  <a ion-item class="capitalize" (click)="openModal(response.filter_title)">
                {{response.filter_title}}
                <span></span>
                <p> <span *ngFor="let sectedData of checkedData"><span *ngIf='checkedData.length > 0 && sectedData.title == response.filter_title'> {{sectedData.value}},</span> </span></p>    
            </a>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-grid class="filterFooterBtnDiv">
        <ion-row>
            <ion-col width-50>
                <btn-large [titleForLarge]='"Clear All"' [classForLarge]="'filterFooterBtn filterFooterBtnFirst'" [spinForLarge]="false" [idForLarge]="'singup'" [colorForLarge]="''" [validForLarge]="false" (onBtnClick)="clearAll()"></btn-large>
            </ion-col>
            <ion-col width-50>
                <btn-large [titleForLarge]='"Apply"' [classForLarge]="'filterFooterBtn filterFooterBtnSecond'" [spinForLarge]="false" [idForLarge]="''" [colorForLarge]="''" (onBtnClick)="applyFilter()"></btn-large>
            </ion-col>
        </ion-row>
    </ion-grid> 
</ion-footer>