.group{
    .groupedPro{
        font-size:15px !important;
    }
    .inputsize{
        width:40px;
    }
    .tableData{
        width: 100%;
        overflow: hidden;
        white-space: pre-line;
    }
}

