<ion-item  class="group no-padding" no-lines>
    <table cellspacing="10">
        <thead>
            <tr class="capitalize">
                <th class="tableData">
                    name
                </th>
                <th class="tableData">
                    price
                </th>
                <th class="tableData">
                    quantity
                </th>
            </tr>
        </thead>
        <tbody *ngIf="grouped && grouped.group_associated_products">
            <tr class="capitalize" *ngFor = "let group of grouped.group_associated_products ; let i=index">
                <td class="tableData"> {{group.name}}</td>
                <td><span [ngClass]="{'line':(group.price*1) > (group.final_price*1), 'hide':(group.price*1) <= (group.final_price*1),groupedPro:true}">
                        <span *ngIf="group.price *1 >0"> {{grouped.data.currency_sign}}{{group.price | number}}</span></span>
                    <span *ngIf="group.final_price *1 >0">{{grouped.data.currency_sign}}{{group.final_price | number}}</span></td>
                <td>
                    <input type="number" min="1" pattern="[0-9]*" class="inputsize center" placeholder="0" [(ngModel)]="group.quantity" (ngModelChange)="groupedData()">
                </td>
            </tr>
        </tbody>
    </table>
</ion-item>


