<header [title]="'My Orders'"></header>
<ion-content class="orderid-detail">
        <h2 class="center" *ngIf="showOrderError">Your Order is under process</h2>
    <ion-scroll scrollY="true" *ngIf="showOrder">
        <ion-list>
            <ion-list-header>
                Status: {{orderid_detail.data.status}}
            </ion-list-header>
            <ion-item *ngFor="let item of items">
                <ion-thumbnail item-left>
                    <img src="{{item.value.image}}" alt="No image">
                </ion-thumbnail>
                <h2>{{item.value.item_name}}<span id="item_price">{{item.value.price}}$</span></h2>
                <p>Size: {{item.value.Size}}</p>
                <p>Quantity: {{item.value.qty_ordered}} </p>
                <p>Color: {{item.value.Color}} </p>
            </ion-item>
            <ion-item>
                <h3>Purchased Date</h3>
                <div class="order_sum">
                    <p>{{orderid_detail.data.purchased_on | date: 'dd/MM/yyyy hh:mm'}}</p>
                </div>
            </ion-item>
            <ion-item>
                <h3> Order Summary </h3>
                <div class="order_sum">
                    <p>TOTAL QUANTITY:<span id="order_sum_content" >{{orderid_detail.data.total_qty_ordered}}</span></p>
                    <p>SUBTOTAL:<span id="order_sum_content" >${{orderid_detail.data.base_grand_total}}</span></p>
                    <p>TAX:<span id="order_sum_content" >${{orderid_detail.data.tax_amount}}</span></p>
                    <p>DELIVERY:<span id="order_sum_content">${{orderid_detail.data.shipping_amount}}</span></p>
                    <hr>
                    <p>TOTAL:<span id="order_sum_content">${{orderid_detail.data.grand_total}}</span></p>
                </div>
                <hr>
            </ion-item>
        </ion-list>
        <ion-list>

            <ion-list-header primary>
                Billing Information
            </ion-list-header>

            <ion-item>
                <h3>Billing</h3>
                <div class="order_sum" >
                    <p>Name: {{orderid_detail.data.billing_address.name+" "+orderid_detail.data.billing_address.lastname}}</p>
                    <p>Telephone:{{orderid_detail.data.billing_address.telephone}} </p>
                    <p>Street:<span *ngFor="let street of orderid_detail.data.billing_address.street">{{bill_street}}</span></p>
                    <p>City: {{orderid_detail.data.billing_address.city}}</p>
                    <p>Region: {{orderid_detail.data.billing_address.region}}</p>
                    <p>Pin code: {{orderid_detail.data.billing_address.postcode}}</p>
                    <p>Country: {{orderid_detail.data.billing_address.county}}</p>
                </div>
                <hr>
            </ion-item>


        </ion-list>
        <ion-list no-lines>

            <ion-list-header color="primary">
                Shipping Information
            </ion-list-header>

            <ion-item>
                <h3>Shipping</h3>
                <div class="order_sum" >
                    <p>Name: {{orderid_detail.data.shipping_address.name+" "+orderid_detail.data.shipping_address.lastname}}</p>
                    <p>Telephone:{{orderid_detail.data.shipping_address.telephone}} </p>
                    <p>Street:<span *ngFor="let street of orderid_detail.data.shipping_address.street">{{bill_street}}</span></p>
                    <p>City: {{orderid_detail.data.shipping_address.city}}</p>
                    <p>Region: {{orderid_detail.data.shipping_address.region}}</p>
                    <p>Pin code: {{orderid_detail.data.shipping_address.postcode}}</p>
                    <p>Country: {{orderid_detail.data.shipping_address.county}}</p>
                </div>
                <hr>
            </ion-item>
            <ion-item>
                <h3>Shipping method</h3>
                <div class="order_sum">
                    <p>{{orderid_detail.data.shipping_method}}</p>
                </div>
            </ion-item>
            <ion-item>
                <h3>Shipping Description</h3>
                <div class="order_sum">
                    <p>{{orderid_detail.data.shipping_description}}</p>
                </div>
            </ion-item>
            <ion-item id="pay_meth">
                <h3>Payment method</h3>
                <div class="order_sum">
                    <p>{{orderid_detail.data.payment_method}}</p>
                </div>
            </ion-item>
   
        </ion-list>
    </ion-scroll>

</ion-content>
<ion-footer>     
        <!--<btn-full  [titleFull]='"Track"' [id]="'btn'" [classFull]="'botton'" (onBtnClick)="track()"></btn-full>-->
</ion-footer>