.orderid-detail{
    /*    ion-list {
            margin: -1px 0 0 0;
        }*/

    ion-scroll {
        position: initial;
    }
    ion-label {
        margin: 10px 0 10px 0;
    }
    .item-md ion-thumbnail img{ 
        height: 90px;
        margin: 0 auto;
        width: auto;
        max-width: 110px;
    }
    .item-md ion-thumbnail{
        max-width: 110px;
        height: 90px; 
        width:110px;
    }
    .order_sum{
        p{
            font-size: 12px;
            margin-top: 3px;
            margin-bottom: 3px;
            color: #666;
        }
    }
    ion-list-header {
        background: $list_heade_order_grey;
        /*color: white;*/
    }
    .cust_info{
        float: right;
        margin-top: -18px;
    }
    h2{
        font-size: 14px;
    }
    #order_sum_content{
        float: right;
        margin-right: 10px;
    }
    #item_price{
        float: right;
        margin-right: 10px;
    }
    #pay_meth{
        min-height: 2rem;
    }
    .scroll-content {
        overflow: auto !important;
    }
    .bold{
        font-weight: bold;
        color:#757575;
    }
}
