<header [title]="'My Order Details'" [wishList]=false></header>
<ion-content class="orderid-detail">
    <ion-spinner class="apiSpinner" *ngIf="spin"></ion-spinner>
    <h2 class="center" *ngIf="showOrderError">Your Order is under process</h2>
    <ion-scroll scrollY="true" *ngIf="showOrder">
        <ion-list no-lines>
            <ion-list-header no-margin class="bold">
                Status: <span class="capitalize"><span *ngIf="orderid_detail.body.status !='canceled'">{{orderid_detail.body.status}}</span><span *ngIf="orderid_detail.body.status == 'canceled'">Cancelled</span></span>
            </ion-list-header>
            <ion-item no-lines *ngFor="let item of items">
                      <ion-thumbnail item-left>
                    <img src="{{item.value.image}}" alt="No image">
                </ion-thumbnail>
                <h2>{{item.value.item_name}}<span id="item_price">{{orderid_detail.body.currency_symbol}}{{item.value.price |number}}</span></h2>
                <p>Quantity: {{item.value.qty_ordered}} </p>
                <span *ngFor="let option of item.value.options">
                    <p>{{option.label}}: {{option.value}}</p>
            </span>
            </ion-item>
            <ion-item no-lines>
                <h3>Purchased Date</h3>
                <div class="order_sum">
                    <p>{{orderid_detail.body.purchased_on | date: 'dd/MM/yyyy && hh:mm'}}</p>
                </div>
            </ion-item>
            <ion-grid>
                <ion-row class="backgroungW">
                    <ion-col col-4 class="center">
                        <span class="bold"> Order Summary </span>
                    </ion-col>
                    <ion-col col-8 class="order_sum">
                        <p>TOTAL QUANTITY: <span id="order_sum_content" >{{orderid_detail.body.total_qty_ordered |number}}</span></p>
                        <p>TOTAL: <span id="order_sum_content" >{{orderid_detail.body.currency_symbol}}{{(orderid_detail.body.base_grand_total-orderid_detail.body.tax_amount) |number}}</span></p>
                        <p>TAX: <span id="order_sum_content" >{{orderid_detail.body.currency_symbol}}{{orderid_detail.body.tax_amount |number}}</span></p>
                        <p>DELIVERY: <span id="order_sum_content">{{orderid_detail.body.currency_symbol}}{{orderid_detail.body.shipping_amount |number}}</span></p>
                        <hr>
                        <p>GRAND TOTAL: <span id="order_sum_content">{{orderid_detail.body.currency_symbol}}{{orderid_detail.body.grand_total |number}}</span></p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
        <ion-list *ngIf="orderid_detail.body.billing_address">
            <ion-list-header no-lines primary no-margin>
                Billing Information
            </ion-list-header>
            <ion-grid *ngIf="orderid_detail.body.billing_address">
                <ion-row class="backgroungW">
                    <ion-col col-4 class="center">
                        <span class="bold"> Billing </span>
                    </ion-col>
                    <ion-col col-8 class="order_sum">
                        <p>Name: {{orderid_detail.body.billing_address.name+" "+orderid_detail.body.billing_address.lastname}}</p>
                        <p>Telephone: {{orderid_detail.body.billing_address.telephone}} </p>
                        <p>Street: <span *ngFor="let street of orderid_detail.body.billing_address.street"><span *ngIf="street && street.length">{{street}}</span></span></p>
                        <p>City: {{orderid_detail.body.billing_address.city}}</p>
                        <p>Region: {{orderid_detail.body.billing_address.region}}</p>
                        <p>Pin code: {{orderid_detail.body.billing_address.postcode}}</p>
                        <p>Country: {{orderid_detail.body.billing_address.county}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
        <ion-list>

            <ion-list-header no-lines primary no-margin *ngIf="orderid_detail.body.shipping_address">
                             Shipping Information
        </ion-list-header>
        <ion-grid *ngIf="orderid_detail.body.shipping_address">
            <ion-row class="backgroungW">
                <ion-col col-4 class="center">
                    <span class="bold"> Shipping </span>
                </ion-col>
                <ion-col col-8 class="order_sum">
                    <p>Name: {{orderid_detail.body.shipping_address.name+" "+orderid_detail.body.shipping_address.lastname}}</p>
                    <p>Telephone: {{orderid_detail.body.shipping_address.telephone}} </p>
                    <p>Street: <span *ngFor="let street of orderid_detail.body.shipping_address.street">{{street}}</span></p>
                    <p>City: {{orderid_detail.body.shipping_address.city}}</p>
                    <p>Region: {{orderid_detail.body.shipping_address.region}}</p>
                    <p>Pin code: {{orderid_detail.body.shipping_address.postcode}}</p>
                    <p>Country: {{orderid_detail.body.shipping_address.county}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="orderid_detail.body.shipping_method">
            <ion-row class="backgroungW">
                <ion-col col-4 class="center">
                    <span class="bold"> Shipping Method </span>
                </ion-col>
                <ion-col col-8 class="order_sum">
                    <p>{{orderid_detail.body.shipping_method}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="orderid_detail.body.shipping_description">
            <ion-row class="backgroungW">
                <ion-col col-4 class="center">
                    <span class="bold capitalize"> Shipping Description </span>
                </ion-col>
                <ion-col col-8 class="order_sum">
                    <p>{{orderid_detail.body.shipping_description}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="orderid_detail.body.payment_method">
            <ion-row class="backgroungW">
                <ion-col col-4 class="center">
                    <span class="bold"> Payment Method </span>
                </ion-col>
                <ion-col col-8 class="order_sum">
                    <p>{{orderid_detail.body.payment_method}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
</ion-scroll>

</ion-content>
<!--<ion-footer>     
    <btn-full  [titleFull]="'Track'" [id]="'btn'" [classFull]="'botton'" (onBtnClick)="track()"></btn-full>
</ion-footer>-->