.orderid-detail{
    /*margin-top: 56px;*/
    ion-list {
        margin: -1px 0 0 0;
    }
    ion-scroll {
        position: initial;
    }
    ion-label {
        margin: 10px 0 0 0;
    }
    ion-thumbnail img {
        max-width: 11.6rem;
        max-height:110px;;
    }
    .order_sum{
        margin-left: 142px;
        margin-top: -18px;
    }
    .order_sum p{
        font-size: 14px;
        margin-top: 3px;
    }
    ion-list-header {
        background: $list_heade_order_grey;
        /*color: white;*/
    }
    .cust_info{
        float: right;
        margin-top: -18px;
    }
    h2{
        font-size: 14px;
    }
    #order_sum_content{
        float: right;
        margin-right: 50px
    }
    #item_price{
        float: right;
        margin-right: 30px;
    }
    #pay_meth{
        min-height: 2rem;
    }
    .scroll-content {
    overflow: auto !important;
}
}
