.alignright{
    text-align: right;
}
.landscapWishListIco{
    right: 0px;
    top: 0px;}
.potrateWishListIco{
    right: 0px;
}
.aligncenter{
    text-align: center;
}
.alignleft{
    text-align: left;
}
.padd36{
    padding:36px;
}
.danger{
    color:red;
}
.paddLeft10{
    padding-left: 10px!important;
}
.pad5{
    padding: 5px;
}
.padd44{
    padding: 44px;
}
.center{
    text-align: center;
}
.paddLft55{
    padding-left: 55px;
}
.padd20{
    padding:20px;
}
.paddLft25{
    padding-left: 25px;
}
.paddLft20{
    padding-left: 20px!important;
}
.padding10{
    padding: 10px;
}
.defaultaddress{
    line-height: 1;
    padding-right: 5px;
    padding-bottom: 3px;
}
.down-arrow{
    padding-right: 5px;
    font-size: 20px;
    color:#a5a5a5;
}
.down-arrowDate{
    font-size: 20px;
    color:#a5a5a5;
}
.paddRight10 {
    padding-right: 10px;
}
.paddLef15{
    padding-left: 15px !important;
}
.minHeight{
    min-height: 10px !important;
}   
.marRight{
    margin-right: 5px !important;
}
.cartPrice{
    margin: 0px auto;
    width: 100%;
}
.red{
    background-color:red;
}
.marRigth0{
    margin-right: 0px !important;
}
.line{
    text-decoration: line-through;
    font-size: 13px;
    color: gray;
    margin-left: 5px;
}
.no-lineBot{
    border-bottom: 0px!important;
}
edit-address{

}
contact-us{
    .scroll-content {
        background: #fff;
    }
}
.green{
    color: green;
}
product{
    /*    .swiper-pagination{
            display: block !important; 
        }*/
    /*    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
            display: none;
        }*/
}

group ion-item .item-inner .input-wrapper ion-label{
    margin: 0px !important;
}
table {
    border-collapse: collapse !important;
    width: 100% !important;
}
td {
    padding: 15px !important;

}
th {
    padding: 0px 15px 5px !important;
    text-align: left;
    border-bottom: 1px solid #ddd ;
}
bundle{
    ion-label ion-icon.none{
        display: none;
        font-size: 18px;
    }
}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #387ef5 !important;
    box-shadow: inset 0 -1px 0 0 #387ef5 !important;
}

.fontWidth600{
    font-weight: 600;
}
.dateIcon{
    position: absolute;
    right: 10px;
}
.padTB{
    padding-top: 0px;
    padding-bottom: 0px;
}
.datetime-md {
    padding: 13px 20px 13px 16px !important;
}
/*.item-md {
    padding-right: 16px !important;
}*/
.offer{
    color:#f58138;
}
login{
    span ion-icon{
        padding-right: 10px;
        font-size: 25px;
    } 
    .scroll-content {
        background: #fff !important;
    }
}

start-page{ 
    .scroll-content {
        background: transparent;
    }  
}
tour,register,img-zoom, about-us, policy{ 
    .scroll-content {
        background: #fff;
    }  
}
change-pass,edit-account,edit-address{
    .scroll-content {
        background: #fff !important;
    }     
}
img-zoom{
    ion-slides{
        bottom: 0;
        position: absolute;
        height: auto;
    }
}
about-us, policy{
    h3, .h3 {
        margin: 0;
        margin-bottom: 10px;
        color: #636363;
        font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.4;
        text-rendering: optimizeSpeed;
        text-transform: uppercase;
    }
    p{
        color: #636363;
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 14px;
        font-style: italic;
        line-height: 24px;
    }
    h2 {
        color: #3399cc;
    }
    ul {
        list-style: disc outside;
        margin-bottom: 1.5em;
    }
    li {
        color: #636363;
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 14px;
        font-style: italic;
        line-height: 24px;
    }
}
.fb{
    background-color: #365899 !important;
}
.padd60{
    padding-bottom:60px;
}
.padLeft20{
    padding-left: 20px !important;
}
.marTop20{
    margin-top: 20px !important;
}
/*.marginBottom50{
    margin-bottom:50px;
}*/
.rating-block .item-inner .input-wrapper{
    display: inline-block !important;
}
input .item-inner {
    border-bottom-color: #387ef5 !important;
    box-shadow: inset 0 -1px 0 0 #387ef5 !important;
}
.lineHeight2-5{
    line-height: 2.5 !important;
}
.fontWeight{
    font-weight: bold;
}
filter{
    a div div.input-wrapper{
        text-transform: capitalize;
    }
    .capitalize{
        text-transform: capitalize !important;
    }
    .filterFooterBtnDiv{
        padding:0px;
        ion-col{
            padding:0px;
        }
        .filterFooterBtn{
            width: 100%;
            padding:0px;
            margin: 0px;
        }
        .filterFooterBtnFirst{
            background-color: #e85151;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        .filterFooterBtnFirst:hover{
            background-color: #e85151 !important;
        }
        .filterFooterBtnSecond{
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}
.relative{
    position: relative;
}
.absolute{
    position:absolute;
}
.wishlist{
    right: -15px;
    top: -12px;
    color: rgba(226, 4, 4, 0.71);
    border-radius: 50%;
    background: transparent;
}
.productWishList{
    float: right;
    padding-right: 15px;
}

.lightRed{
    color:rgba(226, 4, 4, 0.71)!important;
}
.lowercase{
    text-transform: lowercase;
}
.transparent{
    .item-md:first-child{
        background: transparent;
        margin: 0px;
    }
}
.dark{
    color:#404040;
}
.fullCol{
    -webkit-flex: 0 0 0% !important;
    -ms-flex: 0 0 0%  !important;
    flex: 0 0 0%  !important;
    max-width: 100%  !important;
}
.ico{
    font-size: 20px;
    color: #a0a0a0;
}
.filterFooterBtnDiv{
    padding:0px;
    ion-col{
        padding:0px;
    }
    .filterFooterBtn{
        width: 100%;
        padding:0px;
        margin: 0px;
    }
    .filterFooterBtnFirst{
        background-color: #70b372;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .filterFooterBtnFirst:hover{
        background-color: #70b372 !important;
    }
    .filterFooterBtnSecond{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}
.fontColor{
    color: #a5a5a5 !important;
}
.capitalize{
    text-transform: capitalize;
    font-size: 16px !important;
}
.item-label-stacked .text-input-md, .item-label-floating .text-input-md.uppercase{
    text-transform: capitalize;
}
ion-input.uppercase input{
    text-transform: uppercase;
}
.borderRt1{
    border-right: 1px solid gray;
}
.textDecoretion{
    text-decoration: none;
}
.cursorPointer{
    cursor:pointer;
}
.font20{
    font-size: 20px;
}
.font14{
    font-size: 14px;
}
.font12{
    font-size: 12px !important;
}
.font13{
    font-size: 13px;
}
.font10{
    font-size: 10px ;
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.right{
    position: absolute !important;
    top: 10px;
    right: 0;
}
.marTop80{
    margin-top: 60px;
}
/*.alignright{
    text-align: center;
}*/
.marTop10{
    margin-top: 10px;
}
.margin-top15{
    margin-top: 15px;
}
.padTop10{
    padding-top: 10px;
}
.no-margin{
    margin: 0px !important;
}
.marBot60{
    margin-bottom: 60px !important;
}
.uppercase{
    text-transform: uppercase;
}
.margin-but{
    margin-bottom: 0px !important;
}
.padLeft10{
    padding-left: 10px;
}
.paddBut5{
    padding-bottom: 5px;
}
.no-padding{
    padding: 0px !important;
}
.cartCheckOutQty{
    text-align: right;
    font-size: 10px;
    color: #7d7c7c;
    font-weight: 600;
    padding: 0px 15px 0px !important;
}
.checkoutGiftItem{
    vertical-align: text-bottom;
}
/*.card {
    box-shadow: none !important;
}*/
.floatRight{
    float: right !important;
}
.spin {
    circle{
        stroke: #fff !important;
    }
}

.botton{  
    /*    position: absolute !important;*/
    height: 50px !important;
    margin: 0px !important;
}
.font17{
    font-size: 17px !important;
}
.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#magLeft50{
    margin-left: 50% !important;

}

#font13{
    font-size: 13px;
}
#marLeft20{
    margin-left: 20px;
}
#iconShow{
    float: right;
}
#sidemenuList{
    border-left: 1px solid #387ef5;
    padding-left: 5px;
}

header .toolbar-ios{
    padding: 10px 10px 0 0;
    min-height: 65px;
}
.content-ios .scroll-content {
    padding-top: 65px;
}
.backgroungW{
    background: #fff;
}
sort{
    .content-ios .scroll-content {
        padding-top: 0px !important;
    }
    .scroll-content {
        padding-top: 0px !important;
        background: #fff;
    }
    .label-md{
        margin-bottom: 0px;
    }
    .order-by{
        border:0px;
        font-size:20px!important;
        vertical-align: middle;
    }
}
filter{
    .content-ios .scroll-content {
        padding-top: 0px !important;
    } 
    .padding{
        padding: 18px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    margin-top: 0px;
    filter .list-header-md, filter .list-md ion-item-divider{
        margin-bottom: 0px;
    }
}
.left-border{
    border-left: 1px solid #ddd;
}
filter-option{
    .content-ios .scroll-content {
        padding-top: 0px !important;
    } 
    .padding{
        padding: 18px;
    }
    .scroll-content {
        padding-top: 0px;
    }
}
.scroll-content {
    padding-top: 56px;
    background: #f3f3f3;
}
.background1{
    background: #f3f3f3;
}
.primary{
    color:#387ef5 !important;
}
cart, wishList, checkout{
    .scroll-content {
        /*background: #fff;*/
        margin-bottom: 60px;
    }  
    .card-md {
        margin: 10px 0px 12px 0px;
        font-size: 1.4rem;
        width: 100%;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .cartRowborder{
        border: 1px solid #e0e0e0;
        line-height: 4;
    }
    .borderLeft{
        border-left: 1px solid #e0e0e0;
    }
    .maxHt{
        max-height: 150px!important;
    }
    h3{
        font-size: 1.8rem!important;
    }
}
filter {
    .scroll-content {
        padding-top: 0px;
        background: #fff;
    }
}
.toolbar-ios ion-title {
    padding: 10px 0px 1px !important;
} 
::-webkit-scrollbar { 
    display: none; 
}
.none{
    display: none; 
}
.no-footer{
    .fixed-content, .scroll-content{
        margin-bottom: 0px !important;
    }
}
.icon-badge {
    position: absolute;
    top: -6px;
    right: calc(70% - 18px);
    padding: 1px 6px;
    height: auto;
    font-size: 10px;
    line-height: 15px;
    background-color: #ef4e3a;
    color: #fff;
    z-index: 1;
    display: inline-block;
    min-width: 7px;
    border-radius: 8px;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
}
.empty-review{
    height: 150px;
    display: block;
}
.empty-wishlist{
    margin-top: 10%;
    text-align:center;
    img{
        max-width: 50%;
    }
    .scroll-content{
        background: #fff!important;
    }
}
wishList, cart{
    .list-md{
        margin: -1px 0 40px 0;
    }
}
header{
    ion-buttons{
        button{
            padding: 3px!important;
        }
    }
}
checkout{
    .border-bottom .item-block .item-inner{
        border-bottom: 1px solid #dedede!important;
    }
}
.refresher-active{
    background: #ddd;
}
.no-underline{
    text-decoration: none;
}
/*144 server css*/
/*ion-app {
    width: 420px !important;
    position: relative !important;
    margin: 0px auto !important; }


body {
    background-color: #ccc !important; }

.modal-wrapper {
    top: calc(50% - (654px/2))!important;
    left: calc(50% - (420px/2))!important;
    width: 100%!important;
    height: 100%!important;
}
.popover-md .popover-content{
    top: calc(75% - (654px/2))!important;
    left: calc(70% - (420px/2))!important;
}
category-view .landscape .column {
    flex: 137px!important;
}
ion-slides{
    height: auto;
}*/
/*144 server*/