.alignright{
    text-align: right;
}
.aligncenter{
    text-align: center;
}
.alignleft{
    text-align: left;
}
.padd36{
    padding:36px;
}

.paddLeft10{
    padding-left: 10px;
}
.padd44{
    padding: 44px;
}
.paddLft55{
    padding-left: 55px;
}
.padd20{
    padding:20px;
}
.paddLft25{
    padding-left: 25px;
}
.down-arrow{
    padding-right: 5px;
    font-size: 20px;
    color:#a5a5a5;
}
.down-arrowDate{
    font-size: 20px;
    color:#a5a5a5;
}
.paddRight5 {
    padding-right: 5px;
}
.paddLef15{
    padding-left: 15px !important;
}
.minHeight{
    min-height: 10px !important;
}   
.marRight{
    margin-right: 5px !important;
}
.marRigth0{
    margin-right: 0px !important;
}
.line{
    text-decoration: line-through;
    font-size: 13px;
    color: gray;
    margin-left: 5px;
}
.green{
    color: green;
}
product{
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        display: none;
    }
}
table {
    border-collapse: collapse !important;
    width: 100% !important;
}
th, td {
    padding: 15px !important;
    text-align: left;
    border-bottom: 1px solid #ddd ;
}
bundle{
    ion-label ion-icon.none{
        display: none;
        font-size: 18px;
    }
}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #387ef5 !important;
    box-shadow: inset 0 -1px 0 0 #387ef5 !important;
}
.fontWidth600{
    font-weight: 600;
}
.dateIcon{
    position: absolute;
    right: 10px;
}
.padTB{
    padding-top: 0px;
    padding-bottom: 0px;
}
.datetime-md {
    padding: 13px 20px 13px 16px !important;
}
/*.item-md {
    padding-right: 16px !important;
}*/
.offer{
    color:#f58138;
}
login{
    span ion-icon{
        padding-right: 10px;
        font-size: 25px;
    } 
}
.fb{
    background-color: #365899 !important;
}
.padd60{
    padding-bottom:60px;
}
.padLeft20{
    padding-left: 20px !important;
}
.marTop20{
    margin-top: 20px !important;
}
/*.marginBottom50{
    margin-bottom:50px;
}*/
.rating-block .item-inner .input-wrapper{
    display: inline-block !important;
}
input .item-inner {
    border-bottom-color: #387ef5 !important;
    box-shadow: inset 0 -1px 0 0 #387ef5 !important;
}
.lineHeight2-5{
    line-height: 2.5 !important;
}
filter{
    a div div.input-wrapper{
        text-transform: capitalize;
    }
}
.capitalize{
    text-transform: capitalize;
}
.item-label-stacked .text-input-md, .item-label-floating .text-input-md.uppercase{
    text-transform: capitalize;
}
ion-input.uppercase input{
    text-transform: uppercase;
}
.borderRt1{
    border-right: 1px solid gray;
}
.textDecoretion{
    text-decoration: none;
}
.cursorPointer{
    cursor:pointer;
}
.font20{
    font-size: 20px;
}
.font14{
    font-size: 14px;
}
.font12{
    font-size: 12px;
}
.font13{
    font-size: 13px;
}
.font10{
    font-size: 10px;
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.right{
    position: absolute !important;
    top: 10px;
    right: 0;
}
.marTop80{
    margin-top: 60px;
}
/*.alignright{
    text-align: center;
}*/
.marTop10{
    margin-top: 10px;
}
.margin-top15{
    margin-top: 15px;
}
.padTop10{
    padding-top: 10px;
}
.no-margin{
    margin: 0px !important;
}
.marBot60{
    margin-bottom: 60px !important;
}
.uppercase{
    text-transform: uppercase;
}
.margin-but{
    margin-bottom: 0px !important;
}
.padLeft10{
    padding-left: 10px;
}

.no-padding{
    padding: 0px !important;
}

.card {
    box-shadow: none !important;
}
.floatRight{
    float: right !important;
}
.spin {
    circle{
        stroke: #fff !important;
    }
}

.botton{  
    /*    position: absolute !important;*/
    height: 50px !important;
    margin: 0px !important;
}
.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#magLeft50{
    margin-left: 50% !important;

}
#font13{
    font-size: 13px;
}
#marLeft20{
    margin-left: 20px;
}
#iconShow{
    float: right;
}
#sidemenuList{
    border-left: 1px solid red;
    padding-left: 5px;
}

header .toolbar-ios{
    padding: 10px 10px 0 0;
    min-height: 65px;
}
.content-ios .scroll-content {
    padding-top: 65px;
}
sort{
    .content-ios .scroll-content {
        padding-top: 0px !important;
    }
    .scroll-content {
        padding-top: 0px !important;
    }
    .label-md{
        margin-bottom: 0px;
    }
}
filter{
    .content-ios .scroll-content {
        padding-top: 0px !important;
    } 
    .padding{
        padding: 18px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    margin-top: 0px;
    filter .list-header-md, filter .list-md ion-item-divider{
        margin-bottom: 0px;
    }
}

filter-option{
    .content-ios .scroll-content {
        padding-top: 0px !important;
    } 
    .padding{
        padding: 18px;
    }
    .scroll-content {
        padding-top: 0px;
    }
}
.scroll-content {
    padding-top: 56px;
}
filter {
    .scroll-content {
        padding-top: 0px;
    }
}
.toolbar-ios ion-title {
    padding: 10px 0px 1px !important;
} 
::-webkit-scrollbar { 
    display: none; 
}

/*144 server css*/
/*ion-app {
    width: 420px !important;
    position: relative !important;
    margin: 0px auto !important; }


body {
    background-color: #ccc !important; }

.modal-wrapper {
    top: calc(50% - (654px/2))!important;
    left: calc(50% - (420px/2))!important;
    width: 100%!important;
    height: 100%!important;
}
.popover-md .popover-content{
    top: calc(75% - (654px/2))!important;
    left: calc(70% - (420px/2))!important;
}
category-view .landscape .column {
    flex: 137px!important;
}
ion-slides{
    height: auto;
}*/
/*144 server*/