.alignright{
    text-align: right;
}
.aligncenter{
    text-align: center;
}
.alignleft{
    text-align: left;
}
.padd36{
    padding:36px;
}
.padd44{
    padding: 44px;
}
.padd60{
    padding-bottom:60px;

}
.reviewSubmit{
    background-color:#749C5C !important;
}
.rating-block .item-inner .input-wrapper{
    display: inline-block !important;
}
.borderRt1{
    border-right: 1px solid gray;
}
.textDecoretion{
    text-decoration: none;
}
.cursorPointer{
    cursor:pointer;
}
.font20{
    font-size: 20px;
}
.font14{
    font-size: 14px;
}
.font12{
    font-size: 12px;
}
.font13{
    font-size: 13px;
}
.font10{
    font-size: 10px;
}
.floatLeft{
    float: left;
}
.right{
    position: absolute !important;
    top: 10px;
    right: 0;
}
.marTop80{
    margin-top: 60px;
}
.alignright{
    text-align: center;
}
.marTop10{
    margin-top: 10px;
}
.margin-top15{
    margin-top: 15px;
}
.padTop10{
    padding-top: 10px;
}
.no-margin{
    margin: 0px !important;
}  
.uppercase{
    text-transform: uppercase;
}
.margin-but{
    margin-bottom: 0px !important;
}
.padLeft10{
    padding-left: 10px;
}

.no-padding{
    padding: 0px !important;
}

.card {
    box-shadow: none !important;
}
.floatRight{
    float: right !important;
}
.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#magLeft50{
    margin-left: 50% !important;

}
#font13{
    font-size: 13px;
}
#marLeft20{
    margin-left: 20px;
}
#iconShow{
    float: right;
}
#sidemenuList{
    border-left: 1px solid red;
    padding-left: 5px;
}
