@mixin margin-left($margin) {
    margin-left:$margin !important;
}
@mixin margin-right($margin) {
    margin-right:$margin !important;
}
@mixin padding-right($margin) {
    padding-right:$margin !important;
}
@mixin padding-left($margin) {
    padding-left:$margin !important;
}
@mixin text-align($margin) {
    text-align:$margin !important;
}
@mixin margin-top($margin) {
    margin-top:$margin !important;
}
@mixin margin-bottom($margin) {
    margin-bottom:$margin !important;
}
@mixin padding-top($margin) {
    padding-top:$margin !important;
}
@mixin display($position) {
    display:$position !important;
}
@mixin float($position) {
    float:$position !important;
}
@mixin border($position){
    border-top-right-radius: $position;
    border-bottom-right-radius: $position;
}
.color{
    color:red !important;
}
.ios{
    ion-item.ng-dirty.ng-invalid{
        border-color: red!important;
    }
    ion-item.ng-dirty.ng-valid{
        border-color: blue!important;
    }
    ion-spinner * {
        width: 28px;
        height: 28px;
        stroke: #000000 !important;
        fill: #000000 !important;
    }
    .sortIcon{
        font-size: 3rem;
    }
    my-download ,edit-account ,my-reviews{
        .item-ios{ 
            @include padding-left(0px);
        }
    }
    product-review{
        span.item-ios{
            margin:0px !important;
            @include padding-left(0px);
        }} 
    edit-address{
        .scroll-content {
            @include margin-top(0px);
        }    
        .item-ios{
            @include padding-left(20px);
        }
    }
}
sort{
    .position{
        left: 110px;
        top: 20px;
    }
    .scroll-content {
        min-height: 150px;
    }
}
iframe{
    height:100% !important;
}
.description{
    color:#696969;
}
.padTB{
    /*@include padding-top(0px);*/
    padding: 0px 12px !important;
}
.backgroungW{
    background: #fff;
}
tour{
    .scroll-content {
        @include margin-top(0px);
        overflow: auto !important;  
    } }
start-page{
    .scroll-content {
        overflow: auto !important;  
    }  }
.md{
    .width80{
        width:75%;
    }

    .titleSize{          
        .toolbar-title {
            width: 93% !important;
        }   
    }
    user-menu ,sidemenu{
        .item .item-inner{
            border-width: 1px !important;
        }}
    .sortIcon{
        font-size: 2rem;
    }
    cart{
        .button-inner {
            -webkit-justify-content: center !important;;
            -ms-flex-pack: center !important;;
            justify-content: center !important;}}
    my-download ,edit-account ,my-reviews,home,about-us, cms-pages, cart,change-pass,checkout,contact-us,forgot,login,edit-address,review-details,saved-addres,order-list,placed-order,policy,product,register,search-page,wishList,categoryProduct,saved-address, page-reset-password{
        .scroll-content {
            @include margin-top(56px);   
        }  
    } 
}
orderid-detail{
    .scroll-content {
        @include margin-top(30px);   
    }    
}
.bar-button-md:first-child {
    @include float(left);
}
edit-address{
    padding: 0px !important;
}
side-menu-data, sidemenu ,home{
    .toolbar-title {
        padding: 4px 12px 4px 10px !important;
    }
    span:last-child .item-inner{
        border-bottom: none !important; 
    }
}

.alignright{
    @include text-align(right);
}

.potrateWishListIco{
    right: 0px;
}
.landscapWishListIco{
    @extend .potrateWishListIco;
    top: 5px;
    z-index: 9999;
}
.aligncenter{
    @include text-align(center); 
}
.alignleft{
    @include text-align(left); 
}
.padd36{
    padding:36px;
}
.danger{
    color:red;
}
.paddLeft10{
    @include padding-left(10px);
}
.pad5{
    padding: 5px;
}
.padd44{
    padding: 44px;
}
.center{
    @include text-align(center);
}
.paddLft55{
    @include padding-left(55px);
}
.padd20{
    padding:20px;
}
.paddLft25{
    @include padding-left(25px);
}
.paddLft20{
    @include padding-left(20px);
}
.paddLft0{
    @include padding-left(0px);
}
.padding10{
    padding: 10px;
}
.defaultaddress{
    line-height: 1;
    @include margin-right(5px);
    padding-bottom: 3px;
}

.down-arrowDate{
    font-size: 20px;
    color:#a5a5a5;
}
.down-arrow{
    @include margin-right(5px);
    @extend .down-arrowDate;
}
.paddRight10 {
    @include padding-right(10px);
}
.paddRight12 {
    @include padding-right(12px);
}
.paddLef15{
    @include padding-left(15px);
}
.minHeight{
    min-height: 10px !important;
}   
.marRight{
    @include margin-right(5px); 

}  
.marRight10{
    @include margin-right(10px); 

}
.cartPrice{
    margin: 0px auto;
    width: 100%;
}
.red{
    background-color:red;
}
.marRigth0{
    @include margin-right(0px); 
}
.line{
    text-decoration: line-through;
    font-size: 13px;
    color: gray;
    /*@include margin-left(5px);*/
}
.no-lineBot{
    border-bottom: 0px!important;
}
edit-address{

}
contact-us{
    .scroll-content {
        @extend .backgroungW;
    }
}

search-page{
    .serchInput{
        @extend .bar-button-md:first-child;
        width: auto;
    }
    .lineHeight2{
        line-height: 2.5;

    }

}
.padding5{
    padding:5px;
}
.green{
    color: green;
}
product{
    /*    .swiper-pagination{
            display: block !important; 
        }*/
    /*    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
            display: none;
        }*/
}

group ion-item .item-inner .input-wrapper ion-label{
    margin: 0px !important;
}
table {
    border-collapse: collapse !important;
    width: 100% !important;
}
td {
    padding: 15px !important;

}
th {
    padding: 0px 15px 5px !important;
    @include text-align(left);
    border-bottom: 1px solid #ddd ;
}
bundle{
    ion-label ion-icon.none{
        @include display(none);
        font-size: 18px;
    }
}
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #387ef5 !important;
    box-shadow: inset 0 -1px 0 0 #387ef5 !important;
}

.fontWidth600{
    font-weight: 600;
}
.dateIcon{
    position: absolute;
    right: 10px;
}

.datetime-md {
    padding: 13px 20px 13px 16px !important;
}
/*.item-md {
    @include margin-right(16px);
}*/
.offer{
    color:#f58138;
}
login{
    span ion-icon{
        @include margin-right(10px);
        font-size: 25px;
    } 
    .scroll-content {
        @extend .backgroungW;
    }
}
page-stripe{
    .scroll-content {
        @extend .backgroungW;
    }
    .date{
        padding: 10px 0px !important;
    }
}

start-page{ 
    .scroll-content {
        background: transparent;
    }  
}
tour,register,img-zoom, about-us, policy{ 
    .scroll-content {
        @extend .backgroungW;
    }  
}
change-pass,edit-account,edit-address, page-reset-password{
    .scroll-content {
        background: #fff !important;
    }    
    .eye{
        right: 15px;
        top: 24px;
        z-index: 999;
        font-size:2em;
        padding: 5px 10px 5px 10px;
    } 
}
img-zoom{
    ion-slides{
        bottom: 0;
        position: absolute;
        height: auto;
    }
}
.gray{
    color:#6f6c6c;
}
about-us, policy{
    h3, .h3 {
        margin: 0;
        @include margin-bottom(10px);
        color: #636363;
        font-family: "Raleway", "Helvetica Neue", Verdana, Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        line-height: 1.4;
        text-rendering: optimizeSpeed;
        text-transform: uppercase;
    }
    p{
        color: #636363;
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 14px;
        font-style: italic;
        line-height: 24px;
    }
    h2 {
        color: #3399cc;
    }
    ul {
        list-style: disc outside;
        @include margin-bottom(1.5em);
    }
    li {
        color: #636363;
        font-family: Georgia, Times, "Times New Roman", serif;
        font-size: 14px;
        font-style: italic;
        line-height: 24px;
    }
}
.fb{
    background-color: #365899 !important;
}
.padd60{
    padding-bottom:60px;
}
.padLeft20{
    @include padding-left(20px);
}
.marTop20{
    @include margin-top(20px);
}
/*.marginBottom50{
    margin-bottom:50px;
}*/
.rating-block .item-inner .input-wrapper{
    @include display(inline-block);  
}
input .item-inner {
    border-bottom-color: #387ef5 !important;
    box-shadow: inset 0 -1px 0 0 #387ef5 !important;
}
.lineHeight2-5{
    line-height: 2.5 !important;
}
.fontWeight{
    font-weight: bold;
}
filter{
    a div div.input-wrapper{
        text-transform: capitalize;
    }
    .capitalize{
        text-transform: capitalize !important;
    }
    .filterFooterBtnDiv{
        padding:0px;
        ion-col{
            padding:0px;
        }
        .filterFooterBtn{
            width: 100%;
            padding:0px;
            margin: 0px;
        }
        .filterFooterBtnFirst:hover{
            background-color: #e85151 !important;
        }        
        .filterFooterBtnFirst{
            @extend .filterFooterBtnFirst:hover;
            @include border(0px);
        }

        .filterFooterBtnSecond{
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}

placed-order{
    .scroll-content{
        @include margin-top(0px);
    }
}
.relative{
    position: relative;
}
.absolute{
    position:absolute;
}
.backgroundTransparent{
    background: transparent;
}
.wishlist{
    right: -15px;
    top: -12px;
    color: rgba(226, 4, 4, 0.71);
    border-radius: 50%;
    background: transparent;
}
.floatRight{
    @include float(right);
}
.productWishList{
    @extend .floatRight;
    @include margin-right(10px);
}

.lightRed{
    color:rgba(226, 4, 4, 0.71)!important;
}
.lowercase{
    text-transform: lowercase;
}
.transparent{
    .item-md:first-child{
        background: transparent;
        margin: 0px;
    }
}
.dark{
    color:#404040;
}
.fullCol{
    -webkit-flex: 0 0 0% !important;
    -ms-flex: 0 0 0%  !important;
    flex: 0 0 0%  !important;
    max-width: 100%  !important;
}
.ico{
    font-size: 20px;
    color: #a0a0a0;
}
.filterFooterBtnDiv{
    padding:0px;
    ion-col{
        padding:0px;
    }
    .filterFooterBtn{
        width: 100%;
        padding:0px;
        margin: 0px;
    }
    .filterFooterBtnFirst:hover{
        background-color: #70b372 !important;
    }    
    .filterFooterBtnFirst{
        @extend .filterFooterBtnFirst:hover;
        @include border(0px);
    }
    .filterFooterBtnSecond{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}
.fontColor{
    color: #a5a5a5 !important;
}
.capitalize{
    text-transform: capitalize;
    font-size: 16px !important;
}
.item-label-stacked .text-input-md, .item-label-floating .text-input-md.uppercase{
    text-transform: capitalize;
}
ion-input.uppercase input{
    text-transform: uppercase;
}
.borderRt1{
    border-right: 1px solid gray;
}
.textDecoretion{
    text-decoration: none;
}
.cursorPointer{
    cursor:pointer;
}
.font20{
    font-size: 20px;
}
.font14{
    font-size: 14px;
}
.font12{
    font-size: 12px !important;
}
.font13{
    font-size: 13px;
}
.font10{
    font-size: 10px ;
}
.padL10{
    @include padding-left(10px);
}
.widthA{
    width:auto;
}
.floatLeft{
    @extend .bar-button-md:first-child

}

.right{
    position: absolute !important;
    top: 10px;
    right: 0;
}
.marTop80{
    @include margin-top(60px);
}
/*.alignright{
    text-align: center;
}*/
.marTop10{
    @include margin-top(10px);
}
.margin-top15{
    @include margin-top(15px);
}
.padTop10{
    @include padding-top(10px);
}
.no-margin{
    margin: 0px !important;
}
.marBot60{
    @include margin-bottom(60px);
}
.uppercase{
    text-transform: uppercase;
}
.margin-but{
    @include margin-bottom(0px);
}
.padLeft10{
    @include padding-left(10px);
}
.paddBut5{
    padding-bottom: 5px;
}
.no-padding{
    padding: 0px !important;
}
.cartCheckOutQty{
    @include text-align(rigth);
    font-size: 10px;
    color: #7d7c7c;
    font-weight: 600;
    padding: 0px 15px 0px !important;
}
.checkoutGiftItem{
    vertical-align: text-bottom;
}
/*.card {
    box-shadow: none !important;
}*/
.floatRight{
    @extend .floatRight;
}
.spin {
    circle{
        stroke: #fff !important;
    }
}

.botton{  
    /*    position: absolute !important;*/
    height: 50px !important;
    margin: 0px !important;
}
.font17{
    font-size: 17px !important;
}
.center{
    @include display(-webkit-box);
    @include display(-moz-box);
    @include display(-ms-flexbox);
    @include display(-webkit-flex);
    @include display(flex);
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
#magLeft50{
    @include margin-left(50%); 

}

#font13{
    font-size: 13px;
}
#marLeft20{
    @include margin-left(20px);
}

#iconShow{
    @extend .floatRight;
}
#sidemenuList{
    border-left: 1px solid #387ef5;
    @include padding-left(5px);
}

header .toolbar-ios{
    @include padding-top(20px);
    min-height: 65px;
}
.content-ios .scroll-content {
    @include padding-top(65px);
}

sort{
    .content-ios .scroll-content {
        @include padding-top(0px);
    }
    .scroll-content {
        @include padding-top(0px);
        @extend .backgroungW;
    }
    .label-md{
        @include margin-bottom(0px);
    }
    .order-by{
        border:0px;
        font-size:20px!important;
        vertical-align: middle;
    }
}
filter{
    .content-ios .scroll-content {
        @include padding-top(0px);
    } 
    .padding{
        padding: 18px;
        @include padding-top(0px);
        padding-bottom: 0px;
    }
    margin-top: 0px;
    filter .list-header-md, filter .list-md ion-item-divider{
        @include margin-bottom(0px);
    }
}
.left-border{
    border-left: 1px solid #ddd;
}
filter-option{
    .content-ios .scroll-content {
        @include padding-top(0px);
    } 
    .padding{
        padding: 18px;
    }
    .scroll-content {
        @include padding-top(0px);
    }
}
.background1{
    background: #f3f3f3;
}
.scroll-content {
    //padding-top: 56px;
    @extend .background1;
}

.primary{
    color:#387ef5 !important;
}
.primaryBackground{
    background: #387ef5 !important;
}
.text{
    line-height:2.5;
    .toolbar-title-md{
        color:white !important;
    }

}
.placeOrderIconButt{
    .button-md{
        margin: 0.4rem 0.2rem;
        padding: 0 1.1em;
        height: 4rem;
        border-radius:0px ; 
        font-size: 1.3rem; 
        font-weight: 100; 
        text-transform: uppercase;
        color: #fff;
        background-color: #387ef5;
        box-shadow:none;
        transition: box-shadow 300ms cubic-bezier(0, 0, 0, 0), background-color 300ms cubic-bezier(0, 0, 0, 0), color 300ms cubic-bezier(0, 0, 0, 0);
    }
}
cart, wishList, checkout{
    .scroll-content {
        /*background: #fff;*/
        @include margin-bottom(60px);
    }  
    .card-md {
        margin: 10px 0px 12px 0px;
        font-size: 1.4rem;
        width: 100%;
        @extend .backgroungW;
        box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .cartRowborder{
        border: 1px solid #e0e0e0;
        line-height: 4;
    }
    .borderLeft{
        border-left: 1px solid #e0e0e0;
    }
    .maxHt{
        max-height: 150px!important;
    }
    h3{
        font-size: 1.8rem!important;
    }
}
edit-address ,filter {
    .scroll-content {
        @include padding-top(0px);
        @extend .backgroungW;
    }
}
.header {
    .toolbar-ios{
        // padding: 4px !important;
    } 
    .toolbar-ios {
        ion-title{
            padding: 15px 90px 1px !important;
        }
    }
}

sidemenu{
    .toolbar-ios {
        ion-title{
            padding: 15px 60px 1px !important;
        }
    }
}
.none{
    display: none; 
}
::-webkit-scrollbar { 
    @extend .none; 
}

.no-footer{
    .fixed-content, .scroll-content{
        @include margin-bottom(0px);
    }
}
.icon-badge {
    position: absolute;
    top: -6px;
    right: calc(70% - 18px);
    padding: 1px 6px;
    height: auto;
    font-size: 10px;
    line-height: 15px;
    background-color: #ef4e3a;
    color: #fff;
    z-index: 1;
    display: inline-block;
    min-width: 7px;
    border-radius: 8px;
    vertical-align: baseline;
    @include text-align(center);
    white-space: nowrap;
    font-weight: bold;
}
.empty-review{
    height: 150px;
    display: block;
}
.empty-wishlist{
    @include margin-top(10%);
    @include text-align(center);
    img{
        max-width: 50%;
    }
    .scroll-content{
        background: #fff!important;
    }
}
wishList, cart{
    .list-md{
        margin: -1px 0 40px 0;
    }
}
header{
    ion-buttons{
        button{
            padding: 5px!important;
        }
    }
}

header{
    .text-input {
        margin: 0px;
        padding: 13px 8px;
        color: #fff;
    }
    .text-input::-webkit-input-placeholder {
        color: #fff;
    }
    .title-md {
        left: 0;
        top: 0;
        padding: 0 70px 1px;
        position: absolute;
        width: 93%;
        height: 100%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        pointer-events: none;
    }
    .toolbar-title-md {
        padding: 0 12px 0 0;
    }
}
.ios {
    header {
        .width80 {
            width: 58%;
        }
        .text-ios-primary {
            color: #fff;
        } 
    }
}
.platform-ipad {
    header {
        .width80 {
            width: 80%;
        }
        .text-ios-primary {
            color: #fff;
        } 
    }
}

checkout{
    .border-bottom .item-block .item-inner{
        border-bottom: 1px solid #dedede!important;
    }
}
.email-border-bottom{
    border-bottom: 1.5px solid #c8c7cc!important;
}
.refresher-active{
    background: #ddd;
}
.no-underline{
    text-decoration: none;
}

@media screen and (orientation:landscape) {
    .alert-radio-group, .alert-checkbox-group {
        max-height: 150px !important;
    }}


/*144 server css*/
/*ion-app {
    width: 420px !important;
    position: relative !important;
    margin: 0px auto !important; }


body {
    background-color: #ccc !important; }

.modal-wrapper {
    top: calc(50% - (654px/2))!important;
    left: calc(50% - (420px/2))!important;
    width: 100%!important;
    height: 100%!important;
}
.popover-md .popover-content{
    top: calc(75% - (654px/2))!important;
    left: calc(70% - (420px/2))!important;
}
category-view .landscape .column {
    flex: 137px!important;
}
.toolbar-ios ion-title{
    padding-top: 15px;
}

ion-slides{
    height: auto;
}*/
/*144 server*/