// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";
@import "global.scss";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;
scroll-content {
    overflow: hidden;
}
$grean      :#00631D;
$darkBlue  :#1c57ff;
$hafeWite  :#f3f3f3;
$lightGray :#D0D0D0;
$gray      :#424242;
$Gray40    :#666666;
$blacky    :#222222;
$red       :#e31e1e;
$olive     :#8a6d3b;
$cream     :#f3f3f3;
$lightGrean:#BDDFB3;
$blue      :#4a87ee;
$bluesGray :#303E49;
$white     :#fbfbfb;
$hrline_order_grey:#d1d1d1;
$avt_h1_order_black:#333333;
$list_heade_order_grey: #f3f3f3;
$date_creat_order_dark_grey:#858585;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
primary:    #387ef5,
secondary:  #32db64,
danger:     #f53d3d,
light:      #f4f4f4,
dark:       #222,
favorite:   #69BB7B
);


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
