<header [pagename]="'pruduct'" [title]="'product'"></header>
<ion-content class="product">
    <ion-spinner class="apiSpinner" *ngIf="spin && !error"></ion-spinner>
    <p class="error" *ngIf="error" style="color:#f00; text-align: center;">Check Network Connection</p>
    <ion-grid  no-padding *ngIf="productData">
               <ion-row  responsive-lg responsive-md responsive-sm>
            <ion-col no-padding width-100 >
                <div class="imgbox">
                    <img src="{{images}}" class=" img cursorPointer"/>
                </div>
                <ion-slides pager #mySlider [options]="mySlideOptions" *ngIf="productData.body.data.media_images.length>1">
                            <ion-slide>
                        <ion-row class="center">
                            <ion-col class="maxWT" *ngFor = "let img of productData.body.data.media_images" (click)="slideClick(img)" >
                                     <img src="{{img}}" class="cursorPointer maxHt"/>
                            </ion-col>
                        </ion-row>
                    </ion-slide>
                </ion-slides>
                <ion-row class="padLeft10">
                    <ion-col class='paddingZero'>
                        <ion-col class='paddingZero'>
                            <h4 class="capitalize">{{productData.body.data.name}}</h4>
                        </ion-col> 
                        <ion-col class="paddingZero">
                            <p class="stock">{{productData.body.data.in_stock}}</p>
                            <btn-full *ngIf="productData.body.data.in_stock=='Out of Stock'" class="notifyBt" [titleFull]="'Notify Me'" (click)="notifySet()"></btn-full>
                        </ion-col>


                    </ion-col>
                </ion-row>
                <ion-row class="padLeft10"> 
                    <ion-col class="padLeft10"> 
                        <span id="font13" [ngClass]="{'line':(display_price*1) > (final_price*1)}" class="price">{{this.productData.body.data.currency_sign}}{{display_price}}</span>
                        <span class="sPrice" >{{this.productData.body.data.currency_sign}} {{final_price}}</span>
                    </ion-col>
                </ion-row>
                <!--for config.. product-->
                <ion-row wrap>
                    <ion-col width-50 *ngFor="let key of keys">
                             <ion-item class="selectlist">
                            <ion-label no-margin class="font12">{{productData.body.associated_products.attributes[key].label}}</ion-label>
                            <ion-label no-margin class="font12" *ngIf="productData.body.associated_products.attributes[key].label=='Color'">
                                <ion-buttons class="alignright">
                                    <ion-icon name="radio-button-on" dark id="color"></ion-icon>
                                </ion-buttons>
                            </ion-label>
                            <ion-select [(ngModel)]="res[key]"  [placeholder]="0"  (ngModelChange)="onChangeConfigurableAttribute(res,key)">
                                <span *ngFor= "let obj of productData.body.associated_products.attributes[key].options">
                                    <ion-option *ngIf="selectshow || obj.shown"  [value]="obj" >
                                        <ion-label no-margin class="font12">
                                            {{obj.label}}
                                        </ion-label>
                                    </ion-option>
                                </span>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <!--for bundal product-->
                <div *ngFor="let b_test1 of productData.body.bundle_items ; let i = index">
                    <ion-list class="no-margin" no-lines *ngIf="b_test1.type=='multi'">
                          <ion-item>
                            <ion-label>{{b_test1.title}}</ion-label>
                            <ion-select [(ngModel)]="bundalMulti[i]" (ngModelChange)="onChangeBundalMulti(bundalMulti )" multiple="true">
                                <ion-option *ngFor="let selection of b_test1.selection" [value]="selection" >{{selection.selection_name}} + {{productData.body.data.currency_sign}}{{selection.selection_price}}</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <ion-list class="no-margin" no-lines *ngIf="b_test1.type=='select'">
                              <ion-item>
                            <ion-label class="padLeft20">{{b_test1.title}}</ion-label>
                            <ion-select [(ngModel)]="bundalSelect[i]" (ngModelChange)="onChangeBundalSelect(bundalSelect)">
                                <ion-option  *ngFor="let selection of b_test1.selection" [value]="selection" >{{selection.selection_name}} + {{productData.body.data.currency_sign}}{{selection.selection_price}} </ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    <!--                    <ion-list no-margin no-lines radio-group *ngIf="b_test1.type=='radio'">
                                                  <ion-list-header>
                                                {{b_test1.title}}
                                            </ion-list-header>
                                            <ion-item *ngFor="let selection of b_test1.selection">
                                                <ion-label>{{selection.selection_name}} "+" {{productData.body.data.currency_sign}}{{selection.selection_price}}</ion-label>
                                                <ion-radio [(ngModel)]="bundalRadio[selection.selection_id]" (ngModelChange)="onChangeBundalRadio()"></ion-radio>
                                            </ion-item>
                                        </ion-list>-->
                    <ion-list no-lines *ngIf="b_test1.type=='checkbox'">
                              <ion-list-header class="no-padding">
                            {{b_test1.title}}
                        </ion-list-header>
                        <ion-item *ngFor="let selection of b_test1.selection ; let j = index">
                            <ion-checkbox  color="dark" value="selection" [(ngModel)]="bundalCheck[selection.selection_id]" (ngModelChange)="onChangeBundalCheck(b_test1.selection,selection.selection_id)" ></ion-checkbox>
                            <ion-label>{{selection.selection_name}}  + {{productData.body.data.currency_sign}}{{selection.selection_price}}</ion-label>
                        </ion-item>          
                    </ion-list>
                </div>
                <!--////////////////-->
                <!--for downlodeable product-->
                <ion-grid></ion-grid>
                <div *ngIf="show_add_to_cart.length>0">
                    <ion-row *ngFor="let data of show_add_to_cart">
                        <ion-col>
                            <p class="no-margin font20 padLeft10 capitalize offer fontWidth600" >Buy {{data.price_qty }}  for {{productData.body.data.currency_sign}} {{data.tierPrice}} each.  </p>
                        </ion-col>
                    </ion-row>
                </div>
                <ion-row>
                    <ion-col>
                        <p class=" font13 padLeft10 capitalize "  [ngClass]="{'marginBottom50': true}">{{productData.body.data.short_description}}</p>
                    </ion-col>
                </ion-row>
                <product-review [skuData]="data.sku"> loading..</product-review>               
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="uppercase ">
    <btn-full  [titleFull]='"ADD CART"'  [id]="'btn'" [validFull]="disable" [classFull]="'botton'" (onBtnClick)="addCart(productData.body)"></btn-full>
</ion-footer>