.product{
    .alert-wrapper {
        max-width: 264px;
        border-radius: 10px;
    }
    .selectlist{
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
    }
    .toolbar-title {
        padding: 0 12px;
        font-size: 1.5em;
        font-weight: 300;
        color: $gray;
    }
    ion-item.selectlist.item.item-select{
        min-height: 3rem;
    }
    .select-icon {
        height: auto;
    }
    ion-card p {
        margin: 0 0 2px;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.5;
        color: $blacky;
    }
    ion-select {
        padding: 0px !important;
        font-size: 12px;
    }

    .line{
        text-decoration: line-through;   
    }
    ion-item.selectlist.item.item-select {
        min-height: 3rem;
        padding-left: 2px;
    }
    .hidden{
        display: none;
    }
    .sPrice{
        font-size: 0.9em;
        font-weight: 400
    }
    .price{
        font-size: 0.7em;
        width: auto; 
        float: left;
        margin-right: 8px;
        line-height: 2;
    }
    .maxHt{
        max-height: 100px;
    }
    .maxWT{
        max-width: 85px;
    }
    .img{
        min-height: 140px; 
        max-height: 270px;
        max-width: 250px;
        width: auto;

    }
    .imgbox{
        height: 270px;
        width:100%;
        padding-top: 0px; 
        text-align: center;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    body {
        font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.5;
        text-transform: uppercase;
    }
    .rating-box {
        height: 20px;
        display: inherit;
        overflow: hidden;
    }
    .nobr, .nowrap {
        white-space: nowrap;
    }
    .color{
        color: $cyan;
    }

    a {
        color: $cyan;
        text-decoration: none;
    }   
    .textarea{
        width:90%;
        padding-bottom: 5%;

    }
    .text{
        width:90%;  
        padding-bottom: 10px;;
    }
    .border{
        border-top: 1px solid $lightGray;
        border-bottom: 1px solid $lightGray;
    }
    .no-margin{
        margin: 0px !important;
    }
    .uppercase{
        text-transform: uppercase;
    }
    .margin-but{
        margin-bottom: 0px !important;
    }
    .padLeft10{
        padding-left: 10px;
    }





element.style {
}
.item-md.item-block .item-inner {
     border-bottom: hidden; 
}
}