.ios{
    .datetime-ios{
        padding: 0px 1.3em 0px 0px;
    }
}
/*.reviewBtn{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.maxHeight{
    height: 100%;
}*/
.product {
    .share{
        font-size: 1.8em;
    }   
    ion-fab-list[side=left] {
        margin: -18px 74px;
    }
    .heart {
        cursor: pointer;
        padding-right: 20px;
        color:#adadad;
    }
    ion-buttons {
        margin: 5px;
        text-align: right !important;
    }
    .config.label-md {
        margin: 5px 0px 5px 2px !important;
        font-weight: 600;
    }
    .label-md {
        margin: 13px 10px 13px 0;
    }
    .paddTop5{
        padding-top: 5px;
    }
    .bot{
        border-bottom: 1px solid #e9efe9;
    }
    .top{
        border-top: 1px solid #e9efe9;
    }
    .select-md{
        padding: 13px 7px 13px 0px !important;
    }
    .alert-wrapper {
        max-width: 264px;
        border-radius: 10px;
    }
    .selectlist{
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
    }
    .additionalInfo{
        font-weight: normal;
        color: #151514;
    }
    .toolbar-title {
        padding: 0 12px;
        font-size: 1.5em;
        font-weight: 300;
        color: $gray;
    }

    .lineH0{
        line-height: 0;
    }
    .price{
        line-height: 2.5;
        padding-left: 5px;
    }
    .lineH2-4{
        line-height: 2.4 !important;
    }
    ion-item.selectlist.item.item-select{
        min-height: 3rem;
    }
    .select-icon {
        height: auto;
    }
    ion-card p {
        margin: 0 0 2px;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.5;
        color: $blacky;
    }
    ion-item.selectlist.item.item-select {
        min-height: 3rem;
        padding-left: 2px;
    }
    .hidden{
        display: none;
    }
    .down-arrow, .paddRight10 {
        padding-right: 10px;
    }
    .additionalInformation{
        color: #000;
        padding-right: 22px;
        padding-left: 3px;
    }
    .sPrice{
        font-size: 1em;
        font-weight: 400;
        padding-left: 10px;
        /*width: auto;*/
        /*float: left;*/
        /*margin-right: 8px;*/
        /*line-height: 2;*/
        /*padding: 5px 0px 0px 0px;*/
    }
    .price{
        font-size: 0.7em;
        font-weight: 400;
        width: auto;
        float: left;
        margin-right: 8px;
        line-height: 2.5;
    }
    .line{
        text-decoration: line-through;
        font-size: 11px;
        color: gray;
        margin-left: 5px;
        line-height: 2.6;
    }
    /*    .hide{
            display: none;
        }*/
    .maxHt{
        max-height: 100px;
    }
    .maxWT{
        max-width: 85px;
    }
    p.stock {
        color: green;
        font-weight: 600;
        float:left;
        margin: 0px;
        padding-top: 7px;
        padding-bottom: 2px;
    }
    .notifyBt{
        float: right;
        margin: -12px -10px 0px 0px;
    }

    .img{
        min-height: 140px;
        max-height: 240px;
        width: auto;

    }
    .imgbox{
        min-height: 270px;
        width:100%;
        padding-top: 0px;
        text-align: center;
        padding-bottom: 0px;
    }
    ion-slides{
        height: auto;
        min-height: 200px;
    }
    .nobr, .nowrap {
        white-space: nowrap;
    }

    a {
        color: $cyan;
        text-decoration: none;
    }
    .color{
        color: $cyan;
        white-space: normal;
    }

    .gray{
        color: $gray;
    }
    .white{
        color: $white;
    }
    .border{
        border-top: 1px solid $lightGray;
        border-bottom: 1px solid $lightGray;
    }

    .totalReviewAvg20{
        font-size: 30px;
        color: $gray;
        font-weight: 500;
    }
    .score {
        display: inline-block;
        font-size: 25px;
        color: $gray_light;
        position: relative;
    }
    .score::before,
    .score span::before{
        content: "\2605\2605\2605\2605\2605";
        display: block;
    }
    .score span {
        color:  $cyan;
        position: absolute;
        top: 0;
        left: 0;
        overflow: !important hidden ;
    }
    .whiteSpace{
        white-space: normal !important;
    } 
    .overflow{
        overflow: hidden;
    }


    .paddingZero{
        padding:0px;
    }
    .productTitleCard{
        margin: 10px 0px 10px 0px;
        width: 100%;
        box-shadow: none;
        .productName{
            font-weight: bold;
        }
    }
    .card-content-md{
        padding: 20px 0px 10px 0px;
    }
}


.ratingContainer{
    height: 20px;
    width: 115px;
    overflow: hidden;
    position: relative;
    cursor: default;
}
.ratingColor {
    //background-color: #666666;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
}
.ratingAverage {
    background-color: #057CB7;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    top: -19px;
    left: 0.5px;
}
.star {
    position: relative;
    left: 0;
    width: 115px;
    height: 20px;
    top: -40px;
    background: url('../assets/image/stars.png') repeat-x;
}
.no-bottom-border{
    border-bottom: 0px!important;
}
.custom-options ion-list{
    border-bottom: 1px solid #dedede;
    margin: 0px;
}
.custom-options .list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block{
    border: 0px;
}
.custom-options .list-header-md, .list-md ion-item-divider{
    border: 0px;
}
.custom-options .list-md > .item-block:first-child, .list-md > .item-wrapper:first-child .item-block{
    border: 0px;
}
.custom-options .list-ios > .item-block:first-child{
    border: 0px;
}
.custom-options .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border: 0px;
}
filter{
    ion-list{
        border-bottom: 1px solid #dedede;
        margin: 0px;
    }
    .list-md > .item-block:last-child, .list-md > .item-wrapper:last-child .item-block{
        border: 0px;
    }
    .list-header-md, .list-md ion-item-divider{
        border: 0px;
    }
    .list-md > .item-block:first-child, .list-md > .item-wrapper:first-child .item-block{
        border: 0px;
    }
    .list-ios > .item-block:first-child{
        border: 0px;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
        border: 0px;
    }

}
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width:8em;
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg, transparent 100%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 35%, transparent 0%), -webkit-linear-gradient(top, rgba(240,248,255, .1), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #09c);
    border-radius: 10px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
.heart {
    cursor: pointer;
    padding-right: 20px;
    color: #adadad;
}

.bar ion-buttons {
    margin: 5px;
    text-align: left !important;
}
.writeButt{
    background-color: $gray_light;

}
.writeButt:hover{
    background-color: $gray_light;
}

/*.is_animating {
    animation: heart-burst .8s steps(28) 1;
    background-position:right;
}

@keyframes heart-burst {
    from {background-position:left;}
    to { background-position:right;}
}*/