.product{
    ion-buttons {
        margin: 5px;
        text-align: right !important;
    }
    .label-md {
        margin: 5px 0px 5px 2px !important;
        font-weight: 600;
    }
    .select-md{
        padding: 13px 5px 13px 0px !important;
    }
    .alert-wrapper {
        max-width: 264px;
        border-radius: 10px;
    }
    .selectlist{
        border-style: solid;
        border-width: 1px;
        border-radius: 5px;
    }
    .toolbar-title {
        padding: 0 12px;
        font-size: 1.5em;
        font-weight: 300;
        color: $gray;
    }
    .lineH0{
        line-height: 0;
    }
    .price{
        line-height: 2.5;
        padding-left: 5px;
    }
    .lineH2-4{
        line-height: 2.4 !important;
    }
    ion-item.selectlist.item.item-select{
        min-height: 3rem;
    }
    .select-icon {
        height: auto;
    }
    ion-card p {
        margin: 0 0 2px;
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.5;
        color: $blacky;
    }
    ion-item.selectlist.item.item-select {
        min-height: 3rem;
        padding-left: 2px;
    }
    .hidden{
        display: none;
    }

    .additionalInformation{
        color:gray;
        padding-right: 20px;
    }
    .sPrice{
        font-size: 1em;
        font-weight: 400;
        width: auto;
        float: left;
        margin-right: 8px;
        line-height: 2;
    }
    .price{
        font-size: 0.7em;
        font-weight: 400;
        width: auto;
        float: left;
        margin-right: 8px;
        line-height: 2;
    }
    .line{
        text-decoration: line-through;
        font-size: 11px;
        color: gray;
        margin-left: 5px;
        line-height: 2.6;
    }
    .hide{
        display: none;
    }
    .maxHt{
        max-height: 100px;
    }
    .maxWT{
        max-width: 85px;
    }
    p.stock {
        color: green;
        font-weight: 600;
        float:left;
    }
    .notifyBt{
        float: right;
        margin: 13px 13px 0 0;
    }

    .img{
        min-height: 140px;
        max-height: 270px;
        max-width: 250px;
        width: auto;

    }
    .imgbox{
        height: 270px;
        width:100%;
        padding-top: 0px;
        text-align: center;
    }
    .nobr, .nowrap {
        white-space: nowrap;
    }

    a {
        color: $cyan;
        text-decoration: none;
    }
    .color{
        color: $cyan;
        white-space: normal;
    }
    .writeButt{
        background-color: $gray_light;

    }
    .writeButt:hover{
        background-color: $gray_light;
    }
    .gray{
        color: $gray;
    }
    .white{
        color: $white;
    }
    .border{
        border-top: 1px solid $lightGray;
        border-bottom: 1px solid $lightGray;
    }

    .totalReviewAvg20{
        font-size: 30px;
        color: $gray;
        font-weight: 500;
    }
    .score {
        display: inline-block;
        font-size: 25px;
        color: $gray_light;
        position: relative;
    }
    .score::before,
    .score span::before{
        content: "\2605\2605\2605\2605\2605";
        display: block;
    }
    .score span {
        color:  $cyan;
        position: absolute;
        top: 0;
        left: 0;
        overflow: !important hidden ;
    }
    .whiteSpace{
        white-space: normal !important;
    } 
    .overflow{
        overflow: hidden;
    }

    progress[value] {
        /* Reset the default appearance */
        -webkit-appearance: none;
        appearance: none;
        height: 10px;
    }
    progress[value]::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    progress[value]::-webkit-progress-value {
        background-image: -webkit-linear-gradient(-45deg, transparent 100%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 35%, transparent 0%), -webkit-linear-gradient(top, rgba(240,248,255, .1), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #09c, #09c);
        border-radius: 10px;
        background-size: 35px 20px, 100% 100%, 100% 100%;
    }
    .paddingZero{
        padding:0px;
    }

}


.ratingContainer{
    height: 20px;
    width: 115px;
    overflow: hidden;
    position: relative;
    cursor: default;
}
.ratingColor {
    //background-color: #666666;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
}
.ratingAverage {
    background-color: #057CB7;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    top: -19px;
    left: 0.5px;
}
.star {
    position: relative;
    left: 0;
    width: 115px;
    height: 20px;
    top: -40px;
    background: url('../assets/image/stars.png') repeat-x;
}