<ion-content>
    <div class='center'>
<img src='{{image}}' class=" img cursorPointer"/>
</div>
<ion-slides class="backgroungW" [options]="mySlideOptions" *ngIf="data.length>0">
    <ion-slide>
        <ion-row class="center">
            <ion-col class="maxWT" *ngFor = "let img of data" (click)="slideClick(img)" >
                     <img src="{{img}}" class="cursorPointer maxHt"/>
                </ion-col>
            </ion-row>
        </ion-slide>

    </ion-slides>

<!--    <ion-grid no-padding >
        <ion-buttons end>
            <button ion-button clear color='dark' (click)="close()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
        <ion-row no-padding class="slideOption" >
            <ion-col no-padding class="backgroungW">
                <ion-slides *ngIf="data && data.length"  [options]="mySlideOptions">
                    <ion-slide *ngFor = "let images of data">
                        <img *ngIf="images" src="{{images}}" class="cursorPointer" style="max-height: 100%;" (click)="slideImgZoom(productData.body.data.media_images)"/>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-grid>-->
</ion-content> 