.startpage {
    margin:0 auto;
    padding:0 auto;
    box-sizing: border-box;
    background-image: url('../../images/depression1.png');
    background-repeat: no-repeat;
    background-size:cover;

.imgbox{
    padding-bottom: 140px;
    padding-top: 100px;
}
.img{
    width:100px;
}

}