<!--
(click)="openModal()"
</ion-header>-->
<ion-header>

    <ion-toolbar primary>
        <button menuToggle (click)="openMenu()">
                <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            Home
        </ion-title>

        <ion-buttons end>
            <button (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-menu [content]="content">
    <ion-toolbar primary>
        <ion-title>Categories</ion-title>
    </ion-toolbar>
    <ion-list  no-lines *ngFor="let list of lists">
               
               <ion-list-header *ngFor="let list1 of list.children;let i=index" (click)="toggle(list1)" style="cursor:pointer">
            {{list1.name}}
    </ion-list-header>
    <ion-item  ion-item *ngFor="let glist of list1" (click)="con(glist.name)">
               {{glist.name}}
        <!--<ion-icon primary item-right top [name]="list1.icon"></ion-icon>-->   
<!--        <ion-list *ngIf="list1.showDetails" text-wrap>
            <ion-item *ngFor="let glist of list1.children" (click)="con(glist.name)">
                {{glist.name}}
        </ion-item>
    </ion-list>-->
</ion-item>
</ion-list>
</ion-menu>

<ion-nav id="nav"  #content [root]="rootPage" >

</ion-nav>
<ion-content padding class="home">
    <ion-grid>
        <ion-row center>
            <ion-col class="center">
                <ion-card>
                    <img src="../../images/shirt3.jpg"/>
                    <ion-card-content>
                        <ion-card-title>
                            Nine Inch Nails Live
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
