<header [pagename]="''" [title]='"Checkout"' [wishList]=false></header>
<ion-content>
    <h2 *ngIf="!cartData">You have no item in cart</h2>
    <ion-card *ngIf="cartData && cartData.length!=0">
        <ion-card-header>
            Address
        </ion-card-header>
        <ion-card-content>
            <span *ngFor="let addres of address">
                <p color="primary" *ngIf="addres.default_shipping && !(addres.default_billing && addres.default_shipping)">Default Shipping</p>
                <p color="primary" *ngIf="addres.default_billing && !(addres.default_billing && addres.default_shipping)">Default Billing</p>
                <p color="primary" *ngIf="addres.default_billing && addres.default_shipping">Default Billing/Default Shipping</p>
                <span *ngIf="addres.default_shipping || addres.default_billing"> <p color="gray">{{addres.firstname}} {{addres.lastname}}</p><p color="gray">
                        <span *ngFor="let street of addres.street">{{street}} </span> {{addres.city}} {{addres.country_id}} {{addres.postcode}}</p></span>
            </span>
            <a  class="floatRight paddBut5" color="lightRed" (click)=changeAddress()>Change Address</a>

        </ion-card-content>
    </ion-card>
    <ion-card  *ngFor="let data of cartData">
        <ion-card-content  class="no-padding">
            <ion-grid no-padding>
                <ion-row center>
                    <ion-col class="aligncenter" width-33>
                        <ion-row center>
                            <ion-col>
                                <img src="{{data.img}}" alt="" class="maxht"/>
                            </ion-col> 
                        </ion-row>
                        <ion-row>
                            <ion-col class="no-padding">
                                <p class="font12" *ngIf="quantityPrice(data.total,data.qty) >0"><b>SubTotal</b> :{{data.currency_sign}}{{quantityPrice(data.total,data.qty)}}</p>
                            </ion-col> 
                        </ion-row>
                    </ion-col>
                    <ion-col width-67>
                        <ion-row>
                            <ion-col class="cartCheckOutQty capitalize">
                                Quantity: {{data.qty}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="size capitalize">
                                {{data.name}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col *ngIf="data.type=='configurable'">
                                <span *ngFor="let subdata of data.subData">
                                    <p *ngIf="subdata" class="capitalize"><span color="dark">{{subdata.key}} </span> -{{subdata["value"].label}}</p>
                                </span>
                                <span *ngFor="let subdata of data.customSubdata">
                                    <p *ngIf="subdata" class="capitalize"><span  color="dark">{{subdata.key}} </span> - <span> {{ checkTypeOf(subdata)}}</span></p>      
                                </span>
                            </ion-col>
                            <ion-col *ngIf="(data.subData && data.subData.length > 0) && data.type=='bundle'">
                                <div *ngFor="let subData of data.subData">
                                    <div *ngFor="let subDataOption of subData">
                                        <span>{{subDataOption.key}} </span><p *ngIf="subDataOption && data.type=='bundle' " > - {{subDataOption.value.selection_name}}</p><p *ngIf='subDataOption'> {{subDataOption.name}}</p>
                                    </div> 
                                </div> 
                                <span *ngFor="let subdata of data.customSubdata">
                                    <p *ngIf="subdata" class="capitalize"><span color="dark">{{subdata.key}} </span> - <span> {{ checkTypeOf(subdata)}}</span></p>      
                                </span>
                            </ion-col> 
                            <ion-col  *ngIf="(data.subData && data.subData.length > 0) && data.type=='grouped'" >
                                <div *ngFor="let subData of data.subData" >
                                    <p style="width: 80%; display: inline-block; white-space: pre-line;"> {{subData.name}}: <b>{{subData.quantity}}</b> </p>
                                    <!--<input center type="number" placeholder="qty" [(ngModel)]="subData.quantity" (change)="changeQuantity()" style="width: 36px; vertical-align: super">-->
                                </div> 
                            </ion-col>                       
                            <ion-col *ngIf="data.type!='bundle' && data.type!='configurable' && data.type!='grouped'" > 
                                <span *ngFor="let subdata of data.subdata">
                                    <p *ngIf="subdata"><span class="capitalize">{{subdata.key}} </span></p>      
                                </span>
                                <span *ngFor="let subdata of data.customSubdata">
                                    <p *ngIf="subdata" class="capitalize"><span color="dark" >{{subdata.key}} </span> - <span> {{ checkTypeOf(subdata)}}</span></p>      
                                </span>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-list no-margin radio-group [(ngModel)]="selectedShippingMethod" (ngModelChange)="shippingMethod(selectedShippingMethod)">
              <ion-list-header no-margin>
            Shipping Methods
        </ion-list-header>
        <span *ngIf="!shippingMethods" class="center">  <ion-spinner ></ion-spinner></span>
        <ion-item *ngFor="let shipping of shippingMethods">
            <ion-label>{{shipping.method_title}} {{shipping.price}}</ion-label>
            <ion-radio [value]="shipping"></ion-radio>
        </ion-item>
    </ion-list>

    <ion-card>
        <ion-card-header>
            Do you have any gift items in your order?
            <ion-checkbox class='checkoutGiftItem' [(ngModel)]="checkGift" (ngModelChange)="enableGift()"> </ion-checkbox>
        </ion-card-header>
        <ion-card-content *ngIf="checkGift">
            <ion-list-header no-lines no-margin>
                Gift Options for the Entire Order.
            </ion-list-header>
            <ion-item >
                <ion-label> Add gift options for the Entire Order</ion-label>
                <ion-checkbox class="marRight" [(ngModel)]="checkGiftEntireOrder" (ngModelChange)="checkGiftIndividualOrder = !checkGiftIndividualOrder"> </ion-checkbox>
            </ion-item>
            <ion-list class='background1 border-bottom' *ngIf="!(checkGiftIndividualOrder && checkGiftEntireOrder) && checkGiftEntireOrder">
                      <p>You can leave this box blank if you do not wish to add a gift message for whole order.</p> 
                <ion-item>
                    <ion-label class="capitalize" >From</ion-label>
                    <ion-input type="text" value="" [(ngModel)]="text" ></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="capitalize" >To</ion-label>
                    <ion-input type="text" value="" [(ngModel)]="text1" ></ion-input>
                </ion-item>
                <ion-item class="no-lineBot">
                    <ion-label class="capitalize"  >Message</ion-label>
                    <ion-textarea value="" [(ngModel)]="text2" ></ion-textarea> 
                </ion-item>
            </ion-list>

            <ion-list-header no-lines no-margin>
                Gift Options for Individual Items
            </ion-list-header>
            <ion-item>
                <ion-label>Add gift options for Individual Items</ion-label>
                <ion-checkbox class="marRight" [(ngModel)]="checkGiftIndividualOrder" (ngModelChange)="checkGiftEntireOrder = !checkGiftEntireOrder"> </ion-checkbox>
            </ion-item>
            <ion-grid no-padding *ngIf="!(checkGiftIndividualOrder && checkGiftEntireOrder) && checkGiftIndividualOrder">
                      <ion-row center  *ngFor="let data of cartData ; let i=index;">
                     <ion-col class="aligncenter" width-33>
                        <ion-row center>
                            <ion-col>
                                <img src="{{data.img}}" alt="" class="maxht"/>
                            </ion-col> 
                        </ion-row>
                        <ion-row>
                            <ion-col class="no-padding">
                                <p class="font12" ><b>{{i+1}} of {{cartData.length}}</b></p>
                            </ion-col> 
                        </ion-row>
                    </ion-col>
                    <ion-col width-67>
                        <h3>    {{data.name}}</h3>
                        <ion-list class='background1 border-bottom'>
                            <ion-item>
                                <ion-label class="capitalize" >From</ion-label>
                                <ion-input type="text" value="" [(ngModel)]="text" ></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label class="capitalize" >To</ion-label>
                                <ion-input type="text" value="" [(ngModel)]="text1" ></ion-input>
                            </ion-item>
                            <ion-item class="no-lineBot">
                                <ion-label class="capitalize"  >Message</ion-label>
                                <ion-textarea value="" [(ngModel)]="text2" ></ion-textarea> 
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            Payment Information
        </ion-card-header>
        <ion-card-content>
            <ion-list no-margin radio-group [(ngModel)]="selectedPaymentMethod" (ngModelChange)="paymentMethod(selectedPaymentMethod)">
                      <span class="center" *ngIf="!PaymentMethods"><ion-spinner></ion-spinner></span>
                <ion-item *ngFor="let payment of PaymentMethods">
                    <ion-label>{{payment.method_title}}</ion-label>
                    <ion-radio [value]="payment"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
<ion-footer >
    <ion-grid class="filterFooterBtnDiv">
        <ion-row>
            <ion-col width-50 class="center">
                <h3> $3000 </h3> 
            </ion-col>
            <ion-col width-50>
                <btn-full  [titleFull]='"Place Order"'  [id]="'btn'"  [classFull]="'botton'" [spinFull]="" [validFull]="disable" (onBtnClick)="orderPlace()"></btn-full>
            </ion-col>
        </ion-row>
    </ion-grid> 
</ion-footer>