<ion-menu class="menuclass" type="overlay"  [content]="content">
    <ion-toolbar color="primary">
        <ion-title>Main Categories</ion-title>
    </ion-toolbar>
    <ion-content class="sidemenu">
         <ion-spinner id="magLeft50" *ngIf="!data"></ion-spinner>
        <span *ngIf="data">
            <ion-list  no-lines *ngFor="let list of data.body.children">
                       <side-menu-data [data]="list.children">
                    loading..
                </side-menu-data>
            </ion-list>
        </span>
        <user-menu></user-menu>
    </ion-content>
</ion-menu>
<ion-nav id="nav"  #content [root]="rootPage" >
</ion-nav>
