<div *ngIf="reviewShow">
    <ion-card class="card" >
        <ion-card-content class="no-padding">
            <ion-row>
                <ion-col>
                    <ion-row>
                        <ion-col>
                            <p class="margin-but totalReviewAvg20">{{productReview.data.rating}}&nbsp;/&nbsp;5</p>
                        </ion-col>
                    </ion-row>
                    <ion-row >
                        <ion-col class="rating-box ">
                            <ion-buttons class="alignright" *ngFor="let number of review">
                                         <ion-icon name="star"  class="rating color" ></ion-icon>
                            </ion-buttons>
                        </ion-col>
                    </ion-row>
                    <ion-row class="margin-top15">
                        <ion-col>
                            <p class="gray">{{noOfREView}} Review(s)</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <ion-buttons  *ngFor="let number of review">
                        <span>{{number}} </span> <ion-icon name="star" ></ion-icon> 
                    </ion-buttons>
                </ion-col>
            </ion-row>
            <ion-row class="uppercase">
                <ion-col class="no-padding">
                    <button no-padding ion-button color="primary" full  (click)="addReview()" >  <p class="white"> Rate and write a review </p></button>
                </ion-col>
            </ion-row>
        </ion-card-content>

    </ion-card>
    <ion-list class="padLeft10">
        <ion-item *ngFor=" let data of productReview.data.data ;  let i = index; ">
            <p color="dark">{{i+1}}).<span class="color">{{data.title}}</span></p>
            <p color="dark">{{data.detail}}</p>
            <p><span class="color" >by {{data.nickname}}</span><span> / (POSTED ON <span class="color">{{data.created_at}} </span>)</span></p>
        </ion-item>
        <ion-item  (click)="moreReview()">
            <ion-buttons >
                <span>All {{noOfREView}} Review </span> <ion-icon name="arrow-dropright" class="floatRight"></ion-icon> 
            </ion-buttons>
        </ion-item>
    </ion-list>
   
</div>