<div *ngIf="reviewShow">    
    <ion-card class="card" >
        <ion-card-content class="no-padding">
            <ion-row>
                <ion-col>
                    <ion-row>
                        <ion-col>
                            <p class="margin-but totalReviewAvg20">{{productReview.body.rating | singleDecimal}} /&nbsp;{{getRating.body.max_review}}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row class="overflow" *ngIf="productReview.body.rating">
                        <div class="ratingContainer">
                            <div class="ratingColor"></div>
                            <div class="ratingAverage" [style.width]=" productReview.body.rating * 20 + '%'"></div>
                            <div class="star"></div>
                        </div>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p class="gray">{{productReview.body.total_review}} Review(s)</p>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col class="bar">
                    <ion-buttons  *ngFor="let rating of graphRating">
                        <ion-icon name="star" ></ion-icon> <span>{{rating.value}} </span><span><progress max="{{getRating.body.max_review}}" value="{{rating.key}}" ></progress></span>
                    </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-card-content>

    </ion-card>
    <ion-list class="padLeft10 marBot60" >
        <ion-item *ngFor=" let data of productReview.body.data ">
            <p><span class="color capitalize">{{data.title}}</span><span class="gray floatRight">{{data.created_at | date:'dd MMM yyyy'}}</span></p>
            <p color="dark" class="whiteSpace capitalize">{{data.detail}}</p>
            <p><span class="color uppercase" >by {{data.nickname}}</span></p>
        </ion-item>
        <ion-item (click)="moreReview()" *ngIf="addCommingReview < productReview.body.total_review">
            <ion-buttons>
                <span *ngIf="listLoad==false" class="capitalize">All {{productReview.body.total_review}} Review </span>
                <ion-spinner  *ngIf="listLoad"></ion-spinner>
                <ion-icon name="arrow-dropright" class="floatRight"></ion-icon> 
            </ion-buttons>
        </ion-item>
    </ion-list> 
</div>
<btn-full  [titleFull]='"Review Product"' [analyticsAction]="'click'" [analyticsTitle]="'Review Product'" [analyticsCampaignUrl]="'Submit Page'" [analyticsLabel]="'Open add review page'" [analyticsValue]=1 [spinFull]="false" [id]="'btn'" [colorFull]="''" [validFull]="false" [classFull]="'writeButt botton'" (onBtnClick)="addReview()"></btn-full>

<!--<ion-grid>
    <ion-row>
        <ion-col width-25>

        </ion-col>
        <ion-col width-50 offset-25>
            <button ion-button color="primary" block round width-60 offset-20 (click)="addReview()" class="writeButt botton">
                    Review Product
        </button>
    </ion-col>
    <ion-col width-25>

    </ion-col>
</ion-row>
</ion-grid>-->


