<div *ngIf="reviewShow">    
    <ion-card class="card" >
        <ion-card-content class="no-padding">
            <ion-item style="padding-right: 0px;">
                <span item-start style="margin: 0px;">
          
                            <p class="margin-but totalReviewAvg20">{{productReview.body.rating | singleDecimal}} /&nbsp;{{getRating.body.max_review}}</p>
                     
                    <span class="overflow" *ngIf="productReview.body.rating">
                        <div class="ratingContainer">
                            <div class="ratingColor"></div>
                            <div class="ratingAverage" [style.width]=" productReview.body.rating * 20 + '%'"></div>
                            <div class="star"></div>
                        </div>
                    </span>
                    <ion-row>
                        <ion-col>
                            <p class="gray">{{productReview.body.total_review}} Review(s)</p>
                        </ion-col>
                    </ion-row>
                </span>
                <span class="bar" style="margin-left: 0px;" item-end>
                    <ion-buttons  *ngFor="let rating of graphRating">
                    <ion-item style="padding-left: 0px;">
                        <span item-start style="margin: 0px;">  <ion-icon name="star" ></ion-icon> <span>{{rating.value}} </span> </span>
                       <span item-end style="margin: 0px;"> <progress max="{{getRating.body.max_review}}" value="{{rating.key}}" ></progress></span>
                       </ion-item>
                    </ion-buttons>
                </span>
            </ion-item>
        </ion-card-content>

    </ion-card>
    <ion-list>
        <ion-item *ngFor=" let data of productReview.body.data ">
            <p><span class="color capitalize">{{data.title}}</span><span class="gray floatRight">{{data.created_at |customdate: 'DD/MM/YYYY'}}</span></p>
            <p color="dark" class="whiteSpace capitalize">{{data.detail}}</p>
            <p><span class="color uppercase" >by {{data.nickname}}</span></p>
        </ion-item>
        <ion-item (tap)="moreReview()" *ngIf="addCommingReview < productReview.body.total_review">
            <ion-buttons>
                <span *ngIf="listLoad==false" class="capitalize">All {{productReview.body.total_review}} Review </span>
                <ion-spinner *ngIf="listLoad"></ion-spinner>&nbsp;
                <ion-icon name="arrow-dropright" class="floatRight"></ion-icon> 
            </ion-buttons>
        </ion-item>
    </ion-list> 
</div>
<div *ngIf="!reviewShow" [ngClass]="{'empty-review': (additionalInformationData && additionalInformationData.length == 0) ,center:true}">
    <ion-spinner *ngIf="productReviewSpin"></ion-spinner>
</div>
<btn-full *ngIf="!productReviewSpin" [titleFull]='"Review Product"' [spinFull]="false" [id]="'btn'" [colorFull]="''" [validFull]="false" [classFull]="'writeButt botton'" (onBtnClick)="addReview()"></btn-full>