<div *ngFor="let b_test1 of bundal.bundle_items ; let i = index">
    <ion-list class="no-margin" no-lines *ngIf="b_test1.type=='multi'">
          <ion-item>
            <ion-label>{{b_test1.title}}</ion-label>
            <ion-select [(ngModel)]="bundalMulti[i]" (ngModelChange)="onChangeBundalMulti(bundalMulti )" multiple="true">
                <ion-option *ngFor="let selection of b_test1.selection" [value]="selection" >{{selection.selection_name}} + {{selection.selection_price}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list class="no-margin" no-lines *ngIf="b_test1.type=='select'">
              <ion-item>
            <ion-label class="padLeft20">{{b_test1.title}}</ion-label>
            <ion-select [(ngModel)]="bundalSelect[i]" (ngModelChange)="onChangeBundalSelect(bundalSelect)">
                <ion-option  *ngFor="let selection of b_test1.selection" [value]="selection" >{{selection.selection_name}} + {{selection.selection_price}} </ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list no-margin no-lines [(ngModel)]="bundalratio" radio-group *ngIf="b_test1.type=='radio'">
              <ion-list-header>
            {{b_test1.title}}
        </ion-list-header>
        <ion-item *ngFor="let selection of b_test1.selection" (ngModelChange)="onChangeBundalRadio()">
            <ion-label>{{selection.selection_name}} "+" {{selection.selection_price}}</ion-label>
            <ion-radio [value]="selection" ></ion-radio>
        </ion-item>
    </ion-list>
    <ion-list no-lines *ngIf="b_test1.type=='checkbox'">
              <ion-list-header class="no-padding">
            {{b_test1.title}}
        </ion-list-header>
        <ion-item *ngFor="let selection of b_test1.selection ; let j = index">
            <ion-checkbox  color="dark" value="selection" [(ngModel)]="bundalCheck[selection.selection_id]" (ngModelChange)="onChangeBundalCheck(b_test1.selection,selection.selection_id)" ></ion-checkbox>
            <ion-label>{{selection.selection_name}}  + {{selection.selection_price}}</ion-label>
        </ion-item>          
    </ion-list>
</div>