
.submitreview{
    .scroll-content {
        padding-top: 0px !important;
    }
    .reviewSubmit{
        background-color:$grean !important;
    }
    .scroll-content {
        background: #fff;
    }
}

