<header></header>
<ion-content  class="forgot">
    <form [formGroup]="forgotform" *ngIf="show_form">
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" id="email" [onReturn]='"btn"' formControlName="email" autocorrect autocomplete clearInput></ion-input>
        </ion-item>
        <button  *ngIf="btnShow" id="btn" ion-button type="submit" full color="primary" class="botton buttForgotPwd"  (click)="forgot(forgotform.value)" [disabled]="!forgotform.valid">
            <span *ngIf="spin==false">Forgot Password</span>
            <ion-spinner *ngIf="spin" class="spin" ></ion-spinner>
        </button>
    </form>
</ion-content>
