<ion-header>
    <ion-navbar  color="primary">
        <button ion-button menuToggle icon-right (click)="openMenu()" *ngIf="pagename=='home' || menu==true">
                <!--<ion-icon name="menu"></ion-icon>-->
                <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
        </button>
        <ion-title start class="uppercase">
            {{title}}
        </ion-title>
        <ion-buttons end >
            <button ion-button icon-only  (click)="changeView(viewChang)">
                    <i class="fa fa-th-large fa-lg" aria-hidden="true"  *ngIf='viewChang=="Landscape" && view'></i>
                <i class="fa fa-list-ul fa-lg" aria-hidden="true" *ngIf='viewChang=="portrait" && view'></i>
            </button>
            <button ion-button icon-only (click)="gotoLogin()" *ngIf="showPopOver==false && showLogin">
                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
            </button>
            <button ion-button icon-only  (click)="gotoWishList()" *ngIf="showPopOver && wishList">
                    <i class="fa fa-heart fa-lg" aria-hidden="true"></i>
                <span class="badge badge-assertive icon-badge" *ngIf="wishlist > 0">{{wishlist}}</span>
            </button>
            <button ion-button icon-only *ngIf="pagename=='product' || pagename=='home' " (click)="gotoCart()">
                    <i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                <span class="badge badge-assertive icon-badge" *ngIf="cartItems > 0">{{cartItems}}</span>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
