<ion-header>
    <ion-navbar  color="primary">
        <button ion-button menuToggle icon-right *ngIf="pagename=='home' || menu==true">
                <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title >
            {{title}}
        </ion-title>
        <ion-buttons end >
            <!--            <button  ion-button icon-only  *ngIf="showPopOver &&  show" (click)="presentPopover($event)">
                                 <ion-icon name="more"></ion-icon>
                        </button>-->
            <button ion-button icon-only  (click)="changeView(viewChang)">
                    <ion-icon name="list" *ngIf='viewChang=="Landscape" && view'></ion-icon>
                <ion-icon name="logo-windows" *ngIf='viewChang=="portrait" && view'></ion-icon>

            </button>
            <button ion-button icon-only *ngIf="pagename=='product' || pagename=='home' " (click)="gotoCart()">
                    <ion-icon name="cart"></ion-icon>
            </button>
            <button ion-button icon-only (click)="gotoLogin()" *ngIf="showPopOver==false && showLogin">
                    <ion-icon name="person"></ion-icon>
            </button>

        </ion-buttons>
    </ion-navbar>
</ion-header>
