<ion-header>
    <ion-navbar  color="primary">
        <button ion-button menuToggle icon-right *ngIf="pagename=='home'">
                <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>
            {{title}}
        </ion-title>
        <ion-buttons end >
            <button  ion-button icon-only  *ngIf="showPopOver &&  show" (click)="presentPopover($event)">
                     <ion-icon name="more"></ion-icon>
            </button>
            <button ion-button icon-only (click)="gotoLogin()" *ngIf="showPopOver==false && showLogin">
                     <ion-icon name="person"></ion-icon>
            </button>
            <button ion-button icon-only *ngIf="pagename=='product' || pagename=='home' " (click)="gotoCart()">
              <ion-icon name="cart"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
