<ion-header>

    <ion-navbar primary>
        <ion-title text-center>Order List</ion-title>
    </ion-navbar>
    <ion-toolbar class="orderlist">
          <ion-list no-lines>
            <ion-item>
                <ion-avatar item-left>
                    <img src="./../../images/grey.jpg">
                </ion-avatar>
                <h1 text-capitalize>{{firstname + " " + lastname}}</h1>
            </ion-item>
        </ion-list>
        <ion-segment dark  class="order" [(ngModel)]="orders">
            <ion-segment-button value="total_orders" class="borderRt1" (ionSelect)="selectedTotal_orders()">
                Total Orders
            </ion-segment-button>
            <ion-segment-button value="total_amount" class="borderRt1" (ionSelect)="selectedTotal_amount()">
                Total Amount
            </ion-segment-button>
            <ion-segment-button value="order_details" (ionSelect)="selectedOrder_details()">
                Order details
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content class="orderlist">
    <ion-scroll scrollY="true">
        <div [ngSwitch]="orders">
            <ion-list *ngSwitchCase="'total_orders'">
                <ion-item>
                    <ion-card>
                        <ion-card-header>
                            Total Orders
                        </ion-card-header>
                        <ion-card-content>
                            <h2> 4</h2>
                        </ion-card-content>
                    </ion-card>
                </ion-item>
            </ion-list>

            <ion-list *ngSwitchCase="'total_amount'">
                <ion-item>
                    <ion-card>
                        <ion-card-header>
                            Total Amount
                        </ion-card-header>
                        <ion-card-content>
                            <h2> Rs.2000</h2>
                        </ion-card-content>
                    </ion-card>
                </ion-item>

            </ion-list>
            <ion-list no-lines *ngSwitchCase="'order_details'">
                      <div >
                    <ion-item>
                        <section id="cd-timeline" class="cd-container"  *ngFor="let data of values">
                                 <div>
                                <ion-list-header text-right><span class="floatLeft">{{data.value.created_at| date: 'dd/MM/yyyy'}}</span>{{data.value.created_at| date: 'hh:mm:ss'}}</ion-list-header>
                                
                                <!----if order is holded-->
                                <div class="cd-timeline-block" *ngIf="data.value.status=='holded'">
                                    <div class="cd-timeline-icon" [ngStyle]="{'border-color':'$red'}">
                                           <ion-icon name="pause" danger></ion-icon>
                                    </div>
                                    <!-- cd-timeline-img -->
                                    <div class="cd-timeline-content" [ngStyle]="{'border-color':'$red'}">
                                        <h2 >Order ID:{{data.key}}</h2>
                                        <h2>Amount:&#8377; {{data.value.grand_total}}</h2>
                                        <h2 text-capitalize>Status:{{data.value.status}}</h2>
                                    </div>
                                </div>

                                <!----if order is pending-->
                                <div class="cd-timeline-block" *ngIf="data.value.status=='pending'">
                                    <div class="cd-timeline-icon" [ngStyle]="{'border-color':'$olive'}">
                                          <ion-icon name="alert" warning ></ion-icon>
                                    </div>
                                    <!-- cd-timeline-img -->
                                    <div class="cd-timeline-content" [ngStyle]="{'border-color':'$olive'}">
                                        <h2 >Order ID:{{data.key}}</h2>
                                        <h2>Amount:&#8377; {{data.value.grand_total}}</h2>
                                        <h2 text-capitalize>Status:{{data.value.status}}</h2>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </ion-item>
                </div>
            </ion-list>
        </div>
    </ion-scroll>
</ion-content>