<ion-header>
    <ion-navbar>
        <ion-toolbar  style="text-align: center;">
            <ion-title start>  {{ product }}
            </ion-title>
            <ion-buttons end>
                <button>
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>
</ion-header>
<ion-content >
    <ion-grid *ngIf="response" style='padding: 0px;'>
        <ion-row  responsive-lg responsive-md responsive-sm>
            <ion-col width-25 style='padding: 0px;'></ion-col>
            <ion-col width-50 style='padding: 0px;'>
                <ion-card>
                    <div style="height: 300px; width:100%">
                        <img src="{{images}}" style="min-height: 140px; height: 300px; max-width: 200px; cursor: pointer; margin: 0px auto;"/>
                    </div>
                    <ion-card-content>
                        <ion-slides pager #mySlider [options]="mySlideOptions" *ngIf="response.data.data">

                                    <ion-slide>
                                <ion-row>
                                    <ion-col *ngFor = "let img of response.data.data.media_images" (click)="slideClick(img)" style="max-width: 85px;">
                                        <img src="{{img}}" style="max-height: 100px; max-height: 100px; cursor: pointer;"/>                             
                                    </ion-col>

                                </ion-row>
                            </ion-slide>
                        </ion-slides>
                        <ion-row >
                            <ion-col>
                                <h2>{{response.data.data.name}}</h2>
                            </ion-col>
                        </ion-row>
                        <ion-row> 
                            <ion-col> 
                                <p style="font-size: 0.9rem;">{{response.data.data.display_price}}</p>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col width-50>
                                <ion-item class="selectlist" *ngIf="activeSize==true && response.data">
                                          <ion-label class="lable">{{response.data.associated_products.attributes['180'].label}}</ion-label>

                                    <ion-select [(ngModel)]="selectSize"  [placeholder]="0">
                                        <ion-option *ngFor= "let obj of response.data.associated_products.attributes['180'].options" [value]="obj.label" >
                                            <ion-label class="lable">{{obj.label}}</ion-label></ion-option>

                                    </ion-select>
                                </ion-item >
                            </ion-col>
                            <ion-col width-50 selectlist>
                                <ion-item class="selectlist" *ngIf="activeColor==true">
                                    <ion-label class="lable">
                                        {{response.data.associated_products.attributes['92'].label}}
                                    </ion-label>
                                     <ion-label class="lable">
                                         <ion-buttons end>
                                            <ion-icon name="radio-button-on" style="color:black;" id='color'></ion-icon>
                                        </ion-buttons>
                                     </ion-label>
                                    <ion-select [(ngModel)]="selectColor" (ngModelChange)="onChange(selectColor)" >

                                        <ion-option *ngFor= "let obj of response.data.associated_products.attributes['92'].options" [value]="obj.label" >
                                            <ion-label class="lable">{{obj.label}}</ion-label>
                                        </ion-option>
                                    </ion-select>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <!--        </ion-item>       -->

                        <p style="font-size: 13px; ">{{response.data.data.short_description}}</p>
                        <ion-row center >
                            <ion-col class="center">
                                <button  primary round  (click)=" addcart(response.data)" >ADD CART</button>

                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
              <ion-col width-25 style='padding: 0px;'></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>