.alert-wrapper {
    max-width: 264px;
    border-radius: 10px;
}

.selectlist{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
.toolbar-title {
    padding: 0 12px;
    font-size: 1.5em;
    font-weight: 300;
    color: #424242;
}
ion-item.selectlist.item.item-select{
    min-height: 3rem;
}
.select-icon {
height: auto;
}
.lable{
    margin: 0px;
    font-size: 12px;
}
ion-card p {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    color: #222;
}

ion-select {
    padding: 0px !important;
    font-size: 12px;
}
/*@media (max-width: 1023px)
[responsive-lg] ion-col[width-10], [responsive-lg] ion-col[width-20], [responsive-lg] ion-col[width-25], [responsive-lg] ion-col[width-33], [responsive-lg] ion-col[width-34], [responsive-lg] ion-col[width-50], [responsive-lg] ion-col[width-66], [responsive-lg] ion-col[width-67], [responsive-lg] ion-col[width-75], [responsive-lg] ion-col[width-80], [responsive-lg] ion-col[width-90] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0px;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
}*/