<ion-content class="scroll1">
    <ion-list-header>
        SORT BY<button outline ion-button class="order-by">  <ion-icon name="{{(orderBy == 'desc')? 'arrow-up':'arrow-down'}}" (tap)="orderByChange()"></ion-icon></button>
    </ion-list-header>
    <ion-list radio-group [(ngModel)]= "slectedSort" (ngModelChange)="dismiss(slectedSort)">
        <ion-item *ngFor="let sortData of sortRes">
            <ion-label class="capitalize">{{sortData.key}}</ion-label>
            <ion-radio [value]="sortData.key"></ion-radio>
        </ion-item> 
    </ion-list>
</ion-content>