<ion-content class="tour">
    <ion-grid>
        <ion-row >
            <ion-col >
                <ion-buttons end>
                    <button ion-button clear color='dark' (click)="close()">                    
                        <ion-icon name="close-circle"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
        <ion-row class="margBot20">
            <ion-col class="center">
                <img src="{{logo}}" alt="{{logo_alt}}" class="logo"/>

            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col >
                <ion-slides #mySlider [options]="mySlideOptions">
                    <ion-slide *ngFor="let desc of descriptions;let i=index">
                        <ion-row>
                            <ion-col>
                                <p class="heading">  {{desc.title}}</p>

                            </ion-col>
                        </ion-row>                      
                        <ion-row>
                            <ion-col>
                                <p class="align"> {{desc.description}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-slide> 
                </ion-slides>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>                
                <ion-buttons *ngIf="getStarted_show">
                     <button ion-button color='primary' (click)="gotologin()" full>
                         Get Started now!!
                     </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>     
</ion-content>
